@charset "UTF-8";
/* line 1, ../sass/_mysql_styles.scss */
.creates {
  display: none;
  width: 50vw;
}

/* line 6, ../sass/_mysql_styles.scss */
input {
  border-radius: 0.5vh;
  background-color: white;
}

/* line 11, ../sass/_mysql_styles.scss */
.add_ramk {
  /*    border: 1px solid black;
      border-radius: 0.5vh;*/
  padding: 1vh;
}

/* line 16, ../sass/_mysql_styles.scss */
#db_status:hover {
  color: black;
}

/* line 17, ../sass/_mysql_styles.scss */
#db_status {
  color: white;
}

/* line 19, ../sass/_mysql_styles.scss */
#theinput {
  width: 90%;
}

/* line 23, ../sass/_mysql_styles.scss */
#editmsg {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 15vh;
  width: 20vw;
  display: none;
  background: green;
  border-radius: 2vh;
  color: white;
  font-size: 2.5vh;
  padding: 0.5vh;
  z-index: 20;
}

/* line 37, ../sass/_mysql_styles.scss */
.contents, .pricings, .pricing_container {
  display: none;
}

/* line 41, ../sass/_mysql_styles.scss */
.pricing_container {
  height: 97vh;
  width: 97vw;
  position: absolute;
  top: -8vh;
  left: 0vw;
}

/*╨Т╤Л╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╤Б╨┐╨╕╤Б╨╛╨║*/
/*╨С╨╗╨╛╨║ ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╕╤Е ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨╛╨▓*/
/* line 54, ../sass/_mysql_styles.scss */
#thesearch {
  text-align: -webkit-center;
  width: 90vw;
  margin-left: 4.5vw;
  line-height: 5vh;
  font-family: Arial;
  font-size: 3vh;
}

/* line 62, ../sass/_mysql_styles.scss */
#sres ul {
  margin: 0;
  padding: 0;
  width: 90vw;
  margin-left: 4.5vw;
}

/* line 68, ../sass/_mysql_styles.scss */
#byer + div ul, #byer_interval + div ul, #trade + div ul, #seller + div ul, .sync_byer + div ul,
.sync_trade + div ul, .sync_seller + div ul, .sync_request + div ul, .sync_payment + div ul {
  margin: 0;
  padding: 0;
  width: 40vw;
  margin-left: 5vw;
}

/* line 76, ../sass/_mysql_styles.scss */
#sres ul li, .sres ul li {
  z-index: 100;
  min-height: 3vh;
  font-family: Arial;
  font-size: 3vh;
}

/*╨┐╤А╨╕ ╨╜╨░╨▓╨╡╨┤╨╡╨╜╨╕╨╕ ╤Ж╨▓╨╡╤В ╨┐╨╛╨┤ ╤В╨╛╨│╨│╨╗╤П╤Й╨╕╨╣╤Б╤П ╨║╨╗╨░╤Б╤Б*/
/* line 84, ../sass/_mysql_styles.scss */
#sres ul li:hover, #byer + div ul li:hover, #byer_interval + div ul li:hover, #trade + div ul li:hover, #seller + div ul li:hover, #sres ul li .sres li:hover,
.sync_byer + div ul li:hover, .sync_trade + div ul li:hover, .sync_seller + div ul li:hover, #sres ul li .sres li:hover, .sync_request + div ul li:hover, .sync_payment + div ul li:hover {
  background-color: green;
  color: white;
  border-color: grey;
}

/*╤В╨╛╤З╨╡╤З╨║╨╕ ╤Б╨┐╨╕╤Б╨║╨╛╨▓╤Л╨╡ ╤Г╨▒╤А╨░╨╜╤Л*/
/* line 93, ../sass/_mysql_styles.scss */
#sres ul, #byer + div ul, #byer_interval + div ul, #trade + div ul, #seller + div ul, .sync_byer + div ul, .sync_trade + div ul, .sync_seller + div ul, .sync_request + div ul, .sync_payment + div ul {
  list-style: none;
}

/*╨│╤А╨░╨╜╨╕╤Ж╤Л ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨╛╨▓*/
/* line 95, ../sass/_mysql_styles.scss */
#sres ul li, #byer + div ul li, #byer_interval + div ul li, #trade + div ul li, #seller + div ul li, .sync_byer + div ul li, .sync_trade + div ul li, .sync_seller + div ul li, .sync_request + div ul li, .sync_payment + div ul li {
  border: 1px solid grey;
  border-bottom: none;
}

/* line 100, ../sass/_mysql_styles.scss */
#sres ul li:last-child,
#byer + div ul li:last-child,
#byer_interval + div ul li:last-child,
#trade + div ul li:last-child,
#seller + div ul li:last-child,
.sync_byer + div ul li:last-child,
.sync_trade + div ul li:last-child,
.sync_request + div ul li:last-child,
.sync_payment + div ul li:last-child,
.sync_seller + div ul li:last-child {
  border: 1px solid grey;
}

/*╨ж╨▓╨╡╤В╨╛╨▓╨░╤П ╨┤╨╕╤Д╤Д╨╡╤А╨╡╨╜╤Ж╨╕╨░╤Ж╨╕╤П ╨▓╤Л╨┤╨░╤З╨╕*/
/* line 112, ../sass/_mysql_styles.scss */
li[category="byer"] {
  background-color: lightyellow;
}

/* line 115, ../sass/_mysql_styles.scss */
li[category="seller"] {
  background-color: lightsalmon;
}

/* line 118, ../sass/_mysql_styles.scss */
li[category="trade"] {
  background-color: lightgreen;
}

/* line 121, ../sass/_mysql_styles.scss */
li[category="request"] {
  background-color: lightblue;
}

/* line 124, ../sass/_mysql_styles.scss */
li[category="payment"] {
  background-color: ghostwhite;
}

/*╨Ь╨░╨╗╨╡╨╜╤М╨║╨░╤П ╨┐╨╛╨╝╨╡╤В╨╛╤З╨║╨░ ╨▓ ╤Г╨│╨╗╤Г ╨▓╤Л╨┤╨░╤З╨╕ ╨╛ ╨║╨░╤В╨╡╨│╨╛╤А╨╕╨╕*/
/* line 129, ../sass/_mysql_styles.scss */
.note {
  position: absolute;
  height: 2vh;
  bottom: 0;
  right: 0;
  font-family: Arial;
  font-size: 1.5vh;
}

/*╨Я╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ ╨╗╨╕╤Б╤В ╨╕╤В╨╡╨╝╨░*/
/* line 138, ../sass/_mysql_styles.scss */
#sres ul li, #byer + div ul li, #byer_interval + div ul li, #trade + div ul li, #seller + div ul li, .sync_seller + div ul li, .sync_byer + div ul li, .sync_trade + div ul li, .sync_request + div ul li, .sync_payment + div ul li {
  position: relative;
}

/*╨Р╨▒╨╖╨░╤Ж ╨╕╨╖ ╨▓╤Л╨┐╨░╨┤╨░╤О╤Й╨╡╨│╨╛ ╤Б╨┐╨╕╤Б╨║╨░ */
/* line 141, ../sass/_mysql_styles.scss */
#sres ul li span {
  margin: 0;
  padding: 0;
}

/* line 146, ../sass/_mysql_styles.scss */
#byer + div ul li p, #byer_interval + div ul li p, #trade + div ul li p, #seller + div ul li p, .sync_byer + div ul li p, .sync_trade + div ul li p, .sync_seller + div ul li p, .sync_request + div ul li p, .sync_payment + div ul li p {
  z-index: 1;
  line-height: 3vh;
  margin: 0;
  padding: 0;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*╨Ш╨╜╨┐╤Г╤В╤Л ╨┐╨╛╨╕╤Б╨║╨░ ╨▓ ╨┐╤А╨░╨╣╤Б╤Д╨╛╤А╨╝╨╡*/
/*╨Я╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ ╨╗╨╕╤Б╤В ╨╕╤В╨╡╨╝╨░*/
/* line 160, ../sass/_mysql_styles.scss */
#byer div ul li, #byer_interval div ul li, #trade div ul li, #seller div ul li, .sync_byer div ul li,
.sync_trade div ul li, .sync_seller div ul li, .sync_payment div ul li {
  position: relative;
}

/* line 163, ../sass/_mysql_styles.scss */
.sync_byer, .sync_seller, .sync_trade, .sync_payment {
  float: left;
}

/* line 166, ../sass/_mysql_styles.scss */
#byer + .sres ul, #byer_interval + .sres ul {
  position: absolute;
  top: 9.05vh;
  left: 18.15vw;
}

/*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╤А╨░╤Б╤Ж╨╡╨╜╨╛╨║*/
/* line 174, ../sass/_mysql_styles.scss */
.pricings td {
  border: 1px solid grey;
  text-align: center;
  vertical-align: middle;
}

/**/
/*╨Ю╨Ъ╨Э╨Ю ╨а╨Р╨б╨ж╨Х╨Э╨Ю╨Ъ ╨Х╨Ф╨Ш╨Э╨Ю╨Х ╨Ф╨Ы╨п ╨Т╨б╨Х╨е ╨Т╨Т╨Х╨а╨е╨г ╨н╨Ъ╨а╨Р╨Э╨Р*/
/* line 182, ../sass/_mysql_styles.scss */
#pricingwindow {
  display: none;
  height: 99vh;
  width: 95vw;
  margin-left: 10px;
}

/**/
/* line 190, ../sass/_mysql_styles.scss */
#reads {
  min-height: 85vh;
  width: 98vw;
}

/* line 197, ../sass/_mysql_styles.scss */
#pricingwindow .closepricing {
  position: absolute;
  top: 5px;
  right: 0.9vw;
  height: 2vw;
  width: 2vw;
}

/* line 205, ../sass/_mysql_styles.scss */
#pricingwindow .minimizepricing {
  position: absolute;
  top: 1vw;
  right: 3vw;
  height: 2vw;
  width: 2vw;
}

/* line 213, ../sass/_mysql_styles.scss */
.add-pos-inputs {
  display: none;
}

/*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨╖╨░╤П╨▓╨╛╨║*/
/* line 219, ../sass/_mysql_styles.scss */
table, td, tr, thead, th {
  border-collapse: collapse;
  vertical-align: top;
}

/* line 223, ../sass/_mysql_styles.scss */
table {
  table-layout: fixed;
  width: 100%;
}

/*╨Ъ╨╗╨░╤Б╤Б - ╤В╨░╨▒╨╗╨╕╤Ж╨░ ╨╕╨╖ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╨╛╨▓ ╨┐╨╛╨╕╤Б╨║╨░. ╨░╨╣╨┤╨╕╤И╨╜╨╕╨║ - ╤В╨░╨▒╨╗╨╕╤Ж╨░ ╨╕╨╖ ╤В╨░╨▒╨╛╨▓*/
/*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨┐╨╡╤А╨▓╨╛╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П (╨╖╨░╤П╨▓╨║╨╕)*/
/* line 231, ../sass/_mysql_styles.scss */
.requests_list, .search_list {
  /*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨▓╤В╨╛╤А╨╛╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П (╨┐╨╛╨╖╨╕╤Ж╨╕╨╕)*/
  /*╨в╨░╨▒╨╗╨╕╤Ж╨░  ╤В╤А╨╡╤В╤М╨╡╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П (╤А╨░╤Б╤Ж╨╡╨╜╨║╨╕) */
  /*╨У╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╨╛╨╡ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ ╤Б╨╛╨┤╨╡╤А╨╢╨╕╨╝╨╛╨│╨╛ td:*/
  /*1╨╣ ╤Г╤А╨╛╨▓╨╡╨╜╤М (╨╖╨░╤П╨▓╨║╨╕)*/
  /*2╨╣ ╤Г╤А╨╛╨▓╨╡╨╜╤М (╨┐╨╛╨╖╨╕╤Ж╨╕╨╕*/
  /*3╨╣ ╤Г╤А╨╛╨▓╨╡╨╜╤М (╤А╨░╤Б╤Ж╨╡╨║╨╕)*/
  /*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П ╤Ж╨╕╤Д╨╡╤А╨╛╨║ ╤А╨╡╨╜╤В╨░╨▒╨╡╨╗╤М╨╜╨╛╤Б╤В╨╕*/
  /**/
  /*╨│╤А╨░╨╜╨╕╤Ж╨░ ╨╜╨╕╨╖-╨┐╤А╨░╨▓ ╨┤╨╗╤П ╨а╤П╨┤╨░ ╨╖╨░╤П╨▓╨║╨╕*/
  /*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨▓╤В╨╛╤А╨╛╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П*/
}
/* line 232, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(1), .search_list > table > thead > tr > th:nth-child(1) {
  width: 7%;
}
/* line 233, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(2), .search_list > table > thead > tr > th:nth-child(2) {
  width: 11%;
}
/* line 234, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(3), .search_list > table > thead > tr > th:nth-child(3) {
  width: 11%;
}
/* line 235, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(4), .search_list > table > thead > tr > th:nth-child(4) {
  width: 48%;
}
/* line 236, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(5), .search_list > table > thead > tr > th:nth-child(5) {
  width: 7%;
}
/* line 237, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(6), .search_list > table > thead > tr > th:nth-child(6) {
  width: 10%;
}
/* line 238, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(7), .search_list > table > thead > tr > th:nth-child(7) {
  width: 5%;
}
/* line 239, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr, .search_list > table > thead > tr {
  border-bottom: 1px black solid;
}
/* line 242, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(1), .search_list .positions th:nth-child(1) {
  width: 2%;
}
/* line 243, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(2), .search_list .positions th:nth-child(2) {
  width: 71%;
}
/* line 244, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(3), .search_list .positions th:nth-child(3) {
  width: 8%;
}
/* line 245, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(4), .search_list .positions th:nth-child(4) {
  width: 8%;
}
/* line 246, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(5), .search_list .positions th:nth-child(5) {
  width: 5%;
}
/* line 247, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(6), .search_list .positions th:nth-child(6) {
  width: 5%;
}
/* line 248, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(7), .search_list .positions th:nth-child(7) {
  width: 5%;
}
/* line 251, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(1), .search_list .pricing-list th:nth-child(1) {
  width: 20%;
}
/* line 252, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(2), .search_list .pricing-list th:nth-child(2) {
  width: 20%;
}
/* line 253, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(3), .search_list .pricing-list th:nth-child(3) {
  width: 7%;
}
/* line 254, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(4), .search_list .pricing-list th:nth-child(4) {
  width: 5%;
}
/* line 255, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(5), .search_list .pricing-list th:nth-child(5) {
  width: 5%;
}
/* line 256, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(6), .search_list .pricing-list th:nth-child(6) {
  width: 5%;
}
/* line 257, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(7), .search_list .pricing-list th:nth-child(7) {
  width: 4%;
}
/* line 258, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(8), .search_list .pricing-list th:nth-child(8) {
  width: 10%;
}
/* line 259, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(9), .search_list .pricing-list th:nth-child(9) {
  width: 5%;
}
/* line 260, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(10), .search_list .pricing-list th:nth-child(10) {
  width: 14%;
}
/* line 264, ../sass/_mysql_styles.scss */
.requests_list td, .search_list td {
  text-align: center;
}
/* line 265, ../sass/_mysql_styles.scss */
.requests_list td:nth-child(4), .search_list td:nth-child(4) {
  text-align: left;
}
/* line 267, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(1), .search_list .positions td:nth-child(1) {
  text-align: center;
}
/* line 268, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(2), .search_list .positions td:nth-child(2) {
  text-align: left;
}
/* line 269, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(3), .search_list .positions td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}
/* line 270, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(4), .search_list .positions td:nth-child(4) {
  text-align: left;
  vertical-align: middle;
}
/* line 271, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(5), .search_list .positions td:nth-child(5) {
  text-align: center;
}
/* line 273, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(1), .search_list .pricing-list td:nth-child(1) {
  text-align: center;
}
/* line 274, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(2), .search_list .pricing-list td:nth-child(2) {
  text-align: center;
}
/* line 275, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(3), .search_list .pricing-list td:nth-child(3) {
  text-align: center;
}
/* line 276, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(4), .search_list .pricing-list td:nth-child(4) {
  text-align: center;
}
/* line 277, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(5), .search_list .pricing-list td:nth-child(5) {
  text-align: center;
}
/* line 278, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(6), .search_list .pricing-list td:nth-child(6) {
  text-align: center;
}
/* line 279, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(7), .search_list .pricing-list td:nth-child(7) {
  text-align: center;
}
/* line 280, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(8), .search_list .pricing-list td:nth-child(8) {
  text-align: center;
}
/* line 281, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(9), .search_list .pricing-list td:nth-child(9) {
  text-align: center;
}
/* line 282, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(10), .search_list .pricing-list td:nth-child(10) {
  text-align: center;
}
/* line 283, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(11), .search_list .pricing-list td:nth-child(11) {
  text-align: center;
}
/* line 287, ../sass/_mysql_styles.scss */
.requests_list .rentcount .rent-table td, .search_list .rentcount .rent-table td {
  text-align: center;
}
/* line 294, ../sass/_mysql_styles.scss */
.requests_list tr, .search_list tr {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}
/* line 299, ../sass/_mysql_styles.scss */
.requests_list tr td:nth-child(1), .requests_list tr td:nth-child(2), .requests_list tr td:nth-child(3), .requests_list tr td:nth-child(4), .requests_list tr td:nth-child(5), .requests_list tr td:nth-child(6), .requests_list tr td:nth-child(7), .search_list tr td:nth-child(1), .search_list tr td:nth-child(2), .search_list tr td:nth-child(3), .search_list tr td:nth-child(4), .search_list tr td:nth-child(5), .search_list tr td:nth-child(6), .search_list tr td:nth-child(7) {
  border-right: 1px black solid;
}
/* line 310, ../sass/_mysql_styles.scss */
.requests_list tr td:last-child, .search_list tr td:last-child {
  border-right: none;
}
/* line 316, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions td, .search_list tr td .contents .positions td {
  border: none;
}
/* line 317, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr, .search_list tr td .contents .positions .pricings table.pricing-list tbody tr {
  border-bottom: 1px solid black;
}
/* line 318, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1), .search_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1) {
  border: none;
}

/*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨╛╤В╨╛╨▒╤А╨░╨╢╨╡╨╜╨╕╤П ╤Ж╨╕╤Д╨╡╤А╨╛╨║ ╤А╨╡╨╜╤В╨░╨▒╨╡╨╗╤М╨╜╨╛╤Б╤В╨╕*/
/* line 328, ../sass/_mysql_styles.scss */
.rentcount .rent-table td {
  text-align: center;
}

/**/
/*╨│╤А╨░╨╜╨╕╤Ж╨░ ╨╜╨╕╨╖-╨┐╤А╨░╨▓ ╨┤╨╗╤П ╨а╤П╨┤╨░ ╨╖╨░╤П╨▓╨║╨╕*/
/* line 335, ../sass/_mysql_styles.scss */
.requests_list tr {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}

/* line 340, ../sass/_mysql_styles.scss */
.requests_list tr td:nth-child(1),
.requests_list tr td:nth-child(2),
.requests_list tr td:nth-child(3),
.requests_list tr td:nth-child(4),
.requests_list tr td:nth-child(5),
.requests_list tr td:nth-child(6),
.requests_list tr td:nth-child(7) {
  border-right: 1px black solid;
}

/* line 351, ../sass/_mysql_styles.scss */
.requests_list tr td:last-child {
  border-right: none;
}

/*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╨▓╤В╨╛╤А╨╛╨│╨╛ ╤Г╤А╨╛╨▓╨╜╤П*/
/* line 357, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions td {
  border: none;
}

/* line 358, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr {
  border-bottom: 1px solid black;
}

/* line 359, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1) {
  border: none;
}

/*╤И╤А╨╕╤Д╤В╤Л ╤В╨░╨▒╨╗╨╕╤Ж╤Л*/
/* line 362, ../sass/_mysql_styles.scss */
td[category="requests"], td[byerid], td[category="positions"], .pricings {
  font-size: 16px;
  font-family: Arial;
}

/* line 366, ../sass/_mysql_styles.scss */
tbody tr[position]:hover {
  border-bottom: 1px solid black;
}

/* line 370, ../sass/_mysql_styles.scss */
.pricing-list th, .pricing-list td {
  font-weight: normal;
  font-size: 2vh;
}

/* line 371, ../sass/_mysql_styles.scss */
.pricing-list tbody tr:hover {
  background-color: white;
  font-weight: bold;
}

/*╨Я╨Ю╨С╨Х╨Ф╨Ш╨в╨Х╨Ы╨Ш*/
/* line 374, ../sass/_mysql_styles.scss */
tr.win[pricingid], tr.win[pricingid]:hover {
  background-color: green;
  color: white;
}

/* line 379, ../sass/_mysql_styles.scss */
td.rent_whole, td.sum_whole {
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
}

/*╨а╨╡╨╖╨░╨╗╤М╤В╨░╤В╤Л ╨┐╨╛╨╕╤Б╨║╨░ ╨┐╤А╨╕ ╤Б╨╛╨╖╨┤╨░╨╜╨╕╨╕ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╕(╨▓╤Л╨┐╤А╤Л╨│╨╕╨▓╨░╨╡╤В ╤Б╨┐╨╕╤Б╨╛╨║ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╣*/
/* line 386, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul {
  list-style: none;
  width: 40vw;
}

/* line 391, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li {
  z-index: 100;
  min-height: 3vh;
  font-family: Arial;
  font-size: 3vh;
  position: relative;
}

/* line 399, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li {
  border: 1px solid black;
  border-bottom: none;
}

/* line 404, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li:last-child, .add-pos-inputs .sres ul li:last-child:hover {
  border: 1px solid black;
}

/* line 408, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li:hover {
  background-color: green;
  color: white;
  border-color: white;
}

/* line 414, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li span, .add-pos-inputs .sres ul li p {
  margin: 0;
  padding: 0;
}

/* line 418, ../sass/_mysql_styles.scss */
#requests {
  padding: 0.5vw;
}

/* line 419, ../sass/_mysql_styles.scss */
tr[pricingid] td {
  border: 1px solid black;
}

/**/
/*╨в╨░╨▒╨╗╨╕╤Ж╨░ ╤А╨░╤Б╤И╨╕╤Д╤А╨╛╨▓╨║╨╕ ╤А╨░╤Б╤З╨╡╤В ╤А╨╡╨╜╤В╨░╨▒╨╡╨╗╤М╨╜╨╛╤Б╤В╨╕*/
/* line 423, ../sass/_mysql_styles.scss */
.requests_list .demo, .requests_list .demo tr, .requests_list .demo td, .requests_list .demo tr td:nth-child(1) {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

/* line 424, ../sass/_mysql_styles.scss */
.requests_list .demo tr:first-child td {
  border-bottom: 1px solid black;
}

/* line 425, ../sass/_mysql_styles.scss */
.demo {
  font-size: 20px;
  font-weight: 600;
}

/* line 430, ../sass/_mysql_styles.scss */
.rentcount {
  display: none;
}

/*╨Ч╨░╨║╨╛╨╜╤З╨╕╨╗╨░╤Б╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ ╤А╨░╤Б╤И╨╕╤Д╤А╨╛╨▓╨║╨╕ ╤А╨░╤Б╤З╨╡╤В ╤А╨╡╨╜╤В╨░╨▒╨╡╨╗╤М╨╜╨╛╤Б╤В╨╕*/
/*╨Ъ╨╗╨░╤Б╤Б ╨┤╨╗╤П ╤А╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╨╜╨╕╤П ╨╝╨░╤В╨╡╤А╨╕╨░╨╗╨░*/
/* line 437, ../sass/_mysql_styles.scss */
.widen {
  height: 95vh;
  width: 95vw;
  background: #F5FFFA;
}

/* line 443, ../sass/_mysql_styles.scss */
.ga_widen {
  min-height: 99vh;
  text-align: left;
}

/* line 447, ../sass/_mysql_styles.scss */
.ga_contents {
  background-color: lightyellow;
  padding: 10px;
}
/* line 453, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments.min-h, .ga_contents .ga_c_giveaways.min-h, .ga_contents .ga_c_positions.min-h, .ga_contents .ga_c_executes.min-h {
  min-height: 105px;
}
/* line 457, ../sass/_mysql_styles.scss */
.ga_contents tbody tr:hover {
  background-color: green;
  color: white;
}
/* line 463, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(1), .ga_contents .ga_c_giveaways table th:nth-child(1), .ga_contents .ga_c_executes table th:nth-child(1) {
  width: 15vw;
}
/* line 464, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(2), .ga_contents .ga_c_giveaways table th:nth-child(2), .ga_contents .ga_c_executes table th:nth-child(2) {
  width: 15vw;
}
/* line 465, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(3), .ga_contents .ga_c_giveaways table th:nth-child(3), .ga_contents .ga_c_executes table th:nth-child(3) {
  width: 15vw;
}
/* line 466, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(4), .ga_contents .ga_c_giveaways table th:nth-child(4), .ga_contents .ga_c_executes table th:nth-child(4) {
  width: 15vw;
}
/* line 472, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(1) {
  width: 15vw;
}
/* line 473, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(2) {
  width: 5vw;
}
/* line 474, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(3) {
  width: 5vw;
}
/* line 475, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(4) {
  width: 5vw;
}

/* line 480, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(1), .shrinken > table > tbody > tr > td:nth-child(1) {
  display: none;
}
/* line 481, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(2), .shrinken > table > tbody > tr > td:nth-child(2) {
  display: none;
}
/* line 482, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(3), .shrinken > table > tbody > tr > td:nth-child(3) {
  display: none;
}
/* line 483, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(4), .shrinken > table > tbody > tr > td:nth-child(4) {
  width: 100%;
}
/* line 484, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(5), .shrinken > table > tbody > tr > td:nth-child(5) {
  display: none;
}
/* line 485, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(6), .shrinken > table > tbody > tr > td:nth-child(6) {
  display: none;
}
/* line 486, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(7), .shrinken > table > tbody > tr > td:nth-child(7) {
  display: none;
}

/* line 490, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(1), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(1) {
  display: none;
}
/* line 491, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(2), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(2) {
  display: none;
}
/* line 492, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(3), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(3) {
  width: 100%;
}
/* line 493, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(4), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(4) {
  display: none;
}
/* line 494, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(5), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(5) {
  display: none;
}
/* line 495, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(6), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(6) {
  display: none;
}
/* line 496, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(7), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(7) {
  display: none;
}
/* line 497, ../sass/_mysql_styles.scss */
.ga_shrinken > table.ga_request_list_shrinken > thead > tr > th:nth-child(8), .ga_shrinken > table.ga_request_list_shrinken > tbody > tr > td:nth-child(8) {
  display: none;
}

/* line 506, ../sass/_mysql_styles.scss */
#add_giveaway {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  z-index: 100;
  position: fixed;
  left: 770px;
  bottom: -500px;
  height: 200px;
  width: 300px;
}
/* line 518, ../sass/_mysql_styles.scss */
#add_giveaway.come_here {
  top: 150px;
}

/* line 522, ../sass/_mysql_styles.scss */
#add_payment {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  left: 550px;
  top: -500px;
  height: 200px;
  width: 300px;
}
/* line 533, ../sass/_mysql_styles.scss */
#add_payment.come_here {
  top: 150px;
}

/* line 537, ../sass/_mysql_styles.scss */
#edit_1c_num {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  left: 274px;
  top: -500px;
  height: 200px;
  width: 250px;
}
/* line 548, ../sass/_mysql_styles.scss */
#edit_1c_num.come_here {
  top: 133px;
}

/* line 553, ../sass/_mysql_styles.scss */
#edit_options {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  left: 5px;
  top: -700px;
  width: 220px;
}
/* line 563, ../sass/_mysql_styles.scss */
#edit_options span {
  font-size: 25px;
}
/* line 566, ../sass/_mysql_styles.scss */
#edit_options.come_here {
  top: 133px;
}
/* line 569, ../sass/_mysql_styles.scss */
#edit_options #req_op_op, #edit_options #req_op_tp, #edit_options #req_op_firstobp, #edit_options #req_op_wt {
  font-size: 25px;
}
/* line 572, ../sass/_mysql_styles.scss */
#edit_options #edit_op, #edit_options #edit_tp, #edit_options #edit_firstobp, #edit_options #edit_wt {
  font-size: 20px;
  width: 200px;
  text-align: center;
}
/* line 577, ../sass/_mysql_styles.scss */
#edit_options input[cc] {
  width: 200px;
  font-size: 20px;
}

/* line 583, ../sass/_mysql_styles.scss */
#edit_options_pos {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  right: 15px;
  top: -700px;
  width: 220px;
}
/* line 593, ../sass/_mysql_styles.scss */
#edit_options_pos span {
  font-size: 25px;
}
/* line 596, ../sass/_mysql_styles.scss */
#edit_options_pos.come_here {
  top: 0;
}
/* line 599, ../sass/_mysql_styles.scss */
#edit_options_pos #pos_op_op, #edit_options_pos #pos_op_tp, #edit_options_pos #pos_op_firstobp, #edit_options_pos #pos_op_wt {
  font-size: 25px;
}
/* line 602, ../sass/_mysql_styles.scss */
#edit_options_pos #edit_op_pos, #edit_options_pos #edit_tp_pos, #edit_options_pos #edit_firstobp_pos, #edit_options_pos #edit_wt_pos {
  font-size: 20px;
  width: 200px;
  text-align: center;
}
/* line 607, ../sass/_mysql_styles.scss */
#edit_options_pos input[cc] {
  width: 200px;
  font-size: 20px;
}
/* line 612, ../sass/_mysql_styles.scss */
#edit_options_pos label[for="queen"] {
  font-size: 22px;
}
/* line 615, ../sass/_mysql_styles.scss */
#edit_options_pos #add_queen {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/* line 622, ../sass/_mysql_styles.scss */
#edit_options_trade {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  background: white;
  left: calc(100%/2);
  position: fixed;
  top: -700px;
  width: 700px;
  height: 315px;
}
/* line 631, ../sass/_mysql_styles.scss */
#edit_options_trade #edit_trade_name {
  font-size: 25px;
}
/* line 639, ../sass/_mysql_styles.scss */
#edit_options_trade span {
  font-size: 25px;
}
/* line 642, ../sass/_mysql_styles.scss */
#edit_options_trade.come_here {
  top: calc(100%/3);
}
/* line 645, ../sass/_mysql_styles.scss */
#edit_options_trade input[cc] {
  width: 200px;
  font-size: 20px;
}
/* line 649, ../sass/_mysql_styles.scss */
#edit_options_trade .close_edit_options_trade {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
}
/* line 655, ../sass/_mysql_styles.scss */
#edit_options_trade #edit_trade_tare {
  font-size: 20px;
}

/* line 660, ../sass/_mysql_styles.scss */
#edit_options_byer {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  background: white;
  left: calc(100%/2);
  position: fixed;
  top: -700px;
  width: 700px;
  height: 500px;
}
/* line 669, ../sass/_mysql_styles.scss */
#edit_options_byer #edit_byer_name {
  font-size: 25px;
}
/* line 677, ../sass/_mysql_styles.scss */
#edit_options_byer span, #edit_options_byer input[type="text"], #edit_options_byer input[type="number"] {
  font-size: 25px;
}
/* line 680, ../sass/_mysql_styles.scss */
#edit_options_byer.come_here {
  top: calc(100%/3);
}
/* line 683, ../sass/_mysql_styles.scss */
#edit_options_byer input[cc] {
  font-size: 20px;
}
/* line 686, ../sass/_mysql_styles.scss */
#edit_options_byer .close_edit_options_byer {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
}

/* line 694, ../sass/_mysql_styles.scss */
#button_add_giveaway, #button_add_payment {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 150px;
}

/* line 700, ../sass/_mysql_styles.scss */
.close_add_g,
.close_add_p, .close_edit_1c_num, .close_edit_options, .close_edit_options_pos {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 707, ../sass/_mysql_styles.scss */
#add_payment, #add_giveaway, #edit_1c_num, #edit_options, #edit_options_pos {
  background-color: white;
}
/* line 710, ../sass/_mysql_styles.scss */
#add_payment input:focus, #add_giveaway input:focus, #edit_1c_num input:focus, #edit_options input:focus, #edit_options_pos input:focus {
  background-color: lightblue;
}

/* line 715, ../sass/_mysql_styles.scss */
.ga_byer_requests {
  display: none;
}
/* line 717, ../sass/_mysql_styles.scss */
.ga_byer_requests th {
  text-align: center;
}
/* line 720, ../sass/_mysql_styles.scss */
.ga_byer_requests table {
  text-align: center;
}
/* line 722, ../sass/_mysql_styles.scss */
.ga_byer_requests table tr[ga_request]:hover td.ga_widen {
  background-color: white;
}
/* line 723, ../sass/_mysql_styles.scss */
.ga_byer_requests table tr[ga_request]:hover {
  background-color: #F0F0F0;
}
/* line 726, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(1) {
  width: 2%;
}
/* line 727, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(2) {
  width: 3%;
}
/* line 728, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(3) {
  width: 1%;
}
/* line 729, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(4) {
  width: 1%;
}
/* line 730, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(5) {
  width: 7%;
}
/* line 731, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(6) {
  width: 2%;
}
/* line 732, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(7) {
  width: 3%;
}
/* line 733, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(8) {
  width: 5%;
}
/* line 735, ../sass/_mysql_styles.scss */
.ga_byer_requests table .count_req_r1.red_letters {
  color: red;
}
/* line 736, ../sass/_mysql_styles.scss */
.ga_byer_requests table .count_req_r1.green_letters {
  color: green;
}
/* line 739, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list {
  text-align: center;
}
/* line 741, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list tr:hover td.ga_widen {
  background-color: white;
}
/* line 742, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list tr:hover {
  background-color: #F0F0F0;
}
/* line 745, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(1) {
  width: 3%;
}
/* line 746, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(2) {
  width: 3%;
}
/* line 747, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(3) {
  width: 3%;
}
/* line 748, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(4) {
  width: 6%;
}
/* line 749, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(5) {
  width: 2%;
}

/* line 753, ../sass/_mysql_styles.scss */
.byer_req_list {
  list-style: none;
}
/* line 755, ../sass/_mysql_styles.scss */
.byer_req_list .collapse_ga_byer {
  width: 40px;
}
/* line 759, ../sass/_mysql_styles.scss */
.byer_req_list .ga_contents td {
  text-align: center;
}

/* line 764, ../sass/_mysql_styles.scss */
.not_ready {
  border: 2px solid red;
  background-color: pink;
}

/* line 768, ../sass/_mysql_styles.scss */
.ready {
  border: 2px solid green;
  background-color: white;
}

/* line 772, ../sass/_mysql_styles.scss */
.ok {
  background-color: green;
  color: white;
}

/* line 773, ../sass/_mysql_styles.scss */
.not-ok {
  background-color: red;
  color: white;
}

/* line 775, ../sass/_mysql_styles.scss */
.ga_requests_date_range {
  margin: 3vh 0;
  border-bottom: 1px solid black;
  padding-bottom: 3vh;
}

/*╨б╨┐╨╕╤Б╨╛╨║ ╨┐╨╛╨║╤Г╨┐╨░╤В╨╡╨╗╨╡╨╣*/
/* line 785, ../sass/_mysql_styles.scss */
.byers_list table {
  text-align: center;
}

/* line 791, ../sass/_mysql_styles.scss */
#go_up {
  position: fixed;
  left: -5px;
  top: 0;
  color: green;
  z-index: 100;
  height: 100vh;
  font-size: 13px;
  width: 17px;
  padding: 0;
}
/* line 801, ../sass/_mysql_styles.scss */
#go_up:hover {
  background-color: green;
  color: white;
}

/* line 808, ../sass/_mysql_styles.scss */
.current_pricing {
  color: green;
}

/* line 812, ../sass/_mysql_styles.scss */
#button_history.pushed, #button_history_tzrkpok.pushed, #button_history_tzrknam.pushed, #button_history_trade.pushed, #button_history_seller.pushed, #button_history_transports.pushed, #button_exec_trade_history.pushed {
  color: white;
  background: green;
}

/* line 818, ../sass/_mysql_styles.scss */
.history.enlarged {
  position: absolute;
  top: 0;
  left: 11px;
  background: white;
  min-height: 100%;
  z-index: 10000;
}

/* line 828, ../sass/_mysql_styles.scss */
.history, .history_knam, .history_kpok, .history_seller, .history_trade, .history_transports, .history_exec_trade {
  z-index: 100;
  background: white;
  position: relative;
  display: none;
  width: 60vw;
  border: 1px solid black;
  border-top: none;
}
/* line 832, ../sass/_mysql_styles.scss */
.history .button_enlarge, .history_knam .button_enlarge, .history_kpok .button_enlarge, .history_seller .button_enlarge, .history_trade .button_enlarge, .history_transports .button_enlarge, .history_exec_trade .button_enlarge {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 839, ../sass/_mysql_styles.scss */
.history tbody tr:hover, .history_knam tbody tr:hover, .history_kpok tbody tr:hover, .history_seller tbody tr:hover, .history_trade tbody tr:hover, .history_transports tbody tr:hover, .history_exec_trade tbody tr:hover {
  background: green;
  color: white;
  cursor: pointer;
}
/* line 844, ../sass/_mysql_styles.scss */
.history td, .history_knam td, .history_kpok td, .history_seller td, .history_trade td, .history_transports td, .history_exec_trade td {
  text-align: center;
  font-size: 20px;
}

/* line 853, ../sass/_mysql_styles.scss */
.history.enlarged, .history_knam.enlarged, .history_kpok.enlarged, .history_seller.enlarged, .history_trade.enlarged, .history_transports.enlarged, .history_exec_trade.enlarged {
  position: absolute;
  top: 0;
  left: 11px;
  background: white;
  min-height: 100%;
  z-index: 10000;
}
/* line 861, ../sass/_mysql_styles.scss */
.history td, .history_knam td, .history_kpok td, .history_seller td, .history_trade td, .history_transports td, .history_exec_trade td {
  font-size: 18px;
}
/* line 864, ../sass/_mysql_styles.scss */
.history th:nth-child(1), .history_knam th:nth-child(1), .history_kpok th:nth-child(1), .history_seller th:nth-child(1), .history_trade th:nth-child(1), .history_transports th:nth-child(1), .history_exec_trade th:nth-child(1) {
  width: 10%;
}
/* line 865, ../sass/_mysql_styles.scss */
.history th:nth-child(2), .history_knam th:nth-child(2), .history_kpok th:nth-child(2), .history_seller th:nth-child(2), .history_trade th:nth-child(2), .history_transports th:nth-child(2), .history_exec_trade th:nth-child(2) {
  width: 30%;
}
/* line 866, ../sass/_mysql_styles.scss */
.history th:nth-child(3), .history_knam th:nth-child(3), .history_kpok th:nth-child(3), .history_seller th:nth-child(3), .history_trade th:nth-child(3), .history_transports th:nth-child(3), .history_exec_trade th:nth-child(3) {
  width: 10%;
}
/* line 867, ../sass/_mysql_styles.scss */
.history th:nth-child(4), .history_knam th:nth-child(4), .history_kpok th:nth-child(4), .history_seller th:nth-child(4), .history_trade th:nth-child(4), .history_transports th:nth-child(4), .history_exec_trade th:nth-child(4) {
  width: 10%;
}
/* line 868, ../sass/_mysql_styles.scss */
.history th:nth-child(5), .history_knam th:nth-child(5), .history_kpok th:nth-child(5), .history_seller th:nth-child(5), .history_trade th:nth-child(5), .history_transports th:nth-child(5), .history_exec_trade th:nth-child(5) {
  width: 10%;
}
/* line 869, ../sass/_mysql_styles.scss */
.history th:nth-child(5), .history_knam th:nth-child(5), .history_kpok th:nth-child(5), .history_seller th:nth-child(5), .history_trade th:nth-child(5), .history_transports th:nth-child(5), .history_exec_trade th:nth-child(5) {
  width: 10%;
}
/* line 870, ../sass/_mysql_styles.scss */
.history tbody tr:hover, .history_knam tbody tr:hover, .history_kpok tbody tr:hover, .history_seller tbody tr:hover, .history_trade tbody tr:hover, .history_transports tbody tr:hover, .history_exec_trade tbody tr:hover {
  background-color: green;
  color: white;
}

/* line 877, ../sass/_mysql_styles.scss */
.history_trade.enlarged {
  position: absolute;
  top: 0;
  left: 11px;
  background: white;
  min-height: 100%;
  z-index: 10000;
}
/* line 885, ../sass/_mysql_styles.scss */
.history_trade td {
  font-size: 18px;
}
/* line 888, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(1) {
  width: 10%;
}
/* line 889, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(2) {
  width: 10%;
}
/* line 890, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(3) {
  width: 30%;
}
/* line 891, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(4) {
  width: 10%;
}
/* line 892, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(5) {
  width: 10%;
}
/* line 893, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(6) {
  width: 10%;
}
/* line 894, ../sass/_mysql_styles.scss */
.history_trade tbody tr:hover {
  background-color: green;
  color: white;
}

/* line 902, ../sass/_mysql_styles.scss */
#fcount {
  border: 1px solid black;
  width: 97vw;
}

/* line 907, ../sass/_mysql_styles.scss */
#search_reads {
  min-height: 100vh;
  display: none;
}

/* line 913, ../sass/_mysql_styles.scss */
.totals_list table {
  font-size: 20px;
}

/* line 918, ../sass/_mysql_styles.scss */
.shrinken_totals {
  display: none;
}

/* line 919, ../sass/_mysql_styles.scss */
.widen_totals {
  height: 70vh;
}

/* line 922, ../sass/_mysql_styles.scss */
.byer_req_list_totals tr td:nth-child(2), .byer_req_list_totals tr td:nth-child(3), .byer_req_list_totals tr td:nth-child(4) {
  text-align: center;
}
/* line 924, ../sass/_mysql_styles.scss */
.byer_req_list_totals .totals_byer_requests {
  display: none;
  padding-left: 2vw;
}
/* line 927, ../sass/_mysql_styles.scss */
.byer_req_list_totals .totals_byer_requests li {
  list-style: none;
}

/* line 931, ../sass/_mysql_styles.scss */
.totals_requests_list th {
  width: 10vw;
}
/* line 934, ../sass/_mysql_styles.scss */
.totals_requests_list th:nth-child(5) {
  width: 20vw;
}
/* line 937, ../sass/_mysql_styles.scss */
.totals_requests_list td {
  text-align: center;
}

/* line 941, ../sass/_mysql_styles.scss */
.totals_g_list {
  display: none;
}
/* line 944, ../sass/_mysql_styles.scss */
.totals_g_list table tr:hover {
  color: white;
  background: green;
}

/* line 951, ../sass/_mysql_styles.scss */
.vid_byer_requests td {
  text-align: center;
}
/* line 954, ../sass/_mysql_styles.scss */
.vid_byer_requests tr:hover {
  background: green;
  color: white;
}

/*╨б╤В╨░╤В╤Г╤Б ╨╖╨░╨║╨░╨╖╨░ ╨▓ ╨а-1*/
/* line 962, ../sass/_mysql_styles.scss */
#requests, #requests table, #byers, #byers table, #sellers, #sellers table, #trades, #trades table, #givaways, #givaways table, #vidachi, #vidachi table, #totals, #totals table, #search, #search table {
  font-size: 16px;
}

/* line 967, ../sass/_mysql_styles.scss */
.green, .lightgreen, .yellow, .lightblue, .red, .pink, .lightpink, .peach, .darkorange, .darkseagreen {
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
}
/* line 971, ../sass/_mysql_styles.scss */
.green input, .lightgreen input, .yellow input, .lightblue input, .red input, .pink input, .lightpink input, .peach input, .darkorange input, .darkseagreen input {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 16px;
}

/* line 980, ../sass/_mysql_styles.scss */
.w {
  background: white;
  color: black;
}

/* line 984, ../sass/_mysql_styles.scss */
.x {
  background: red;
  color: white;
}

/* line 989, ../sass/_mysql_styles.scss */
.green {
  background-color: green;
  color: white;
}

/* line 990, ../sass/_mysql_styles.scss */
.green-text {
  color: green;
}

/* line 991, ../sass/_mysql_styles.scss */
.orange-text {
  color: darkorange;
}

/* line 992, ../sass/_mysql_styles.scss */
.red-text {
  color: red;
}

/* line 993, ../sass/_mysql_styles.scss */
.lightgreen {
  background-color: lightgreen;
  color: black;
}

/* line 994, ../sass/_mysql_styles.scss */
.yellow {
  background-color: yellow;
  color: black;
}

/* line 995, ../sass/_mysql_styles.scss */
.lightblue {
  background-color: lightblue;
  color: blue;
}

/* line 996, ../sass/_mysql_styles.scss */
.red {
  background-color: red;
  color: white;
}

/* line 997, ../sass/_mysql_styles.scss */
.pink {
  background-color: darkgreen;
  color: white;
}

/* line 998, ../sass/_mysql_styles.scss */
.lightpink {
  background-color: lightpink;
  color: black;
}

/* line 999, ../sass/_mysql_styles.scss */
.peach {
  background-color: peachpuff;
  color: black;
}

/* line 1000, ../sass/_mysql_styles.scss */
.darkorange {
  background-color: darkorange;
  color: white;
}

/* line 1001, ../sass/_mysql_styles.scss */
.darkseagreen {
  background-color: darkseagreen;
  color: black;
}

/* line 1004, ../sass/_mysql_styles.scss */
.trades_list table {
  width: 60%;
}
/* line 1006, ../sass/_mysql_styles.scss */
.trades_list table td.trade_synched {
  font-size: 10px;
  text-align: right;
}
/* line 1012, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(1) {
  width: 20%;
}
/* line 1013, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(2) {
  width: 5%;
}
/* line 1014, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(3) {
  width: 5%;
}
/* line 1015, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(4) {
  width: 15%;
}
/* line 1016, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(5) {
  width: 5%;
}
/* line 1018, ../sass/_mysql_styles.scss */
.trades_list tr:hover td {
  background: green;
  color: white;
}

@-webkit-keyframes flash {
  0%, 100% {
    background: white;
    color: black;
  }
  50% {
    background: orange;
    color: white;
  }
}
@keyframes flashss {
  0%, 100% {
    background: white;
  }
  50% {
    background: orange;
  }
}
/* line 1035, ../sass/_mysql_styles.scss */
.flash {
  -webkit-animation: flashss 2s;
  -moz-animation: flashss 2s;
  -o-animation: flashss 2s;
  animation: flashss 2s;
}

/* line 1044, ../sass/_mysql_styles.scss */
.payments_list table tbody tr:hover, .vidachi_list table tbody tr:hover {
  background: green;
  color: white;
}
/* line 1048, ../sass/_mysql_styles.scss */
.payments_list table td, .vidachi_list table td {
  text-align: center;
  border: 1px solid black;
  font-size: 21px;
}

/* line 1056, ../sass/_mysql_styles.scss */
#sync_info ul, #sync_info li {
  list-style: none;
}

/* line 1061, ../sass/_mysql_styles.scss */
#sync_add_to_base {
  position: fixed;
  top: 280px;
  width: 270px;
  right: 66px;
}
/* line 1067, ../sass/_mysql_styles.scss */
#sync_add_to_base label {
  font-weight: bold;
}
/* line 1070, ../sass/_mysql_styles.scss */
#sync_add_to_base.up {
  display: none;
}
/* line 1073, ../sass/_mysql_styles.scss */
#sync_add_to_base .creates {
  display: block;
  width: 25vw;
}

/* line 1079, ../sass/_mysql_styles.scss */
#request_info {
  position: absolute;
  top: 11.7vh;
  right: 0.9vw;
  height: 6vw;
  width: 12vw;
  font-size: 2.6vh;
  text-align: right;
  border-radius: 5px;
  padding: 5px;
  background: #F0F0F0;
}

/* line 1091, ../sass/_mysql_styles.scss */
#toggle_byer_info {
  position: absolute;
  top: 6.5vh;
  right: 1vw;
  font-size: 2vh;
  font-weight: bold;
}

/* line 1098, ../sass/_mysql_styles.scss */
#byer_info {
  display: none;
  position: absolute;
  right: 0.9vw;
  top: 25vh;
  text-align: right;
  font-size: 2.5vh;
  padding: 5px;
  border-radius: 5px;
  width: 12vw;
  background: #F0F0F0;
}
/* line 1100, ../sass/_mysql_styles.scss */
#byer_info table tr:first-child td {
  text-align: center;
}
/* line 1101, ../sass/_mysql_styles.scss */
#byer_info table td {
  border: 1px solid grey;
  font-size: 2.5vh;
}
/* line 1102, ../sass/_mysql_styles.scss */
#byer_info table td:first-child {
  width: 30%;
  text-align: left;
}
/* line 1103, ../sass/_mysql_styles.scss */
#byer_info table td:nth-child(2) {
  width: 70%;
  text-align: right;
}

/* line 1121, ../sass/_mysql_styles.scss */
.pointed {
  color: white;
  background-color: black;
}

/* line 1127, ../sass/_mysql_styles.scss */
#towhatbase {
  color: green;
  font-weight: 600;
}

/* line 1132, ../sass/_mysql_styles.scss */
.givaways_list h2 {
  margin: 0;
  padding: 0;
  font-size: 2vh;
}

/* line 1138, ../sass/_mysql_styles.scss */
.up {
  display: block;
}

/* line 1142, ../sass/_mysql_styles.scss */
.zp_list table {
  line-height: 30px;
  font-size: 18px;
  vertical-align: middle;
  position: relative;
}

/* line 1149, ../sass/_mysql_styles.scss */
.zp_list tbody tr:hover .give_details {
  display: block;
}

/* line 1153, ../sass/_mysql_styles.scss */
.zp_list tbody tr:hover {
  background: green;
  color: white;
}

/* line 1158, ../sass/_mysql_styles.scss */
.give_details {
  display: none;
  position: absolute;
  width: 98%;
  top: -244px;
  left: 0px;
  text-align: left;
  font-size: 16px;
  background: white;
  color: black;
  padding: 15px;
  border-radius: 5px;
  overflow: auto;
  padding: 0;
}
/* line 1172, ../sass/_mysql_styles.scss */
.give_details > span {
  color: green;
  font-weight: bold;
}

/* line 1178, ../sass/_mysql_styles.scss */
.show_them_flex {
  display: inline-flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  flex-direction: column;
  max-height: 220px;
}
/* line 1184, ../sass/_mysql_styles.scss */
.show_them_flex span {
  width: 240px;
  max-width: 240px;
}

/* line 1190, ../sass/_mysql_styles.scss */
.where_details {
  display: block;
  min-height: 210px;
}

/* line 1195, ../sass/_mysql_styles.scss */
.zp_count_worker option:checked, .zp_give_worker option:checked, .zp_count_month option:checked {
  background-color: green !important;
  color: white !important;
}

/* line 1200, ../sass/_mysql_styles.scss */
.add_zp_count, .add_zp_give {
  display: none;
}

/* line 1203, ../sass/_mysql_styles.scss */
#executes_list li {
  position: absolute;
  top: 550px;
  right: 20px;
}

/* line 1208, ../sass/_mysql_styles.scss */
#executes_list li {
  text-align: right;
  list-style: none;
}

/* line 1213, ../sass/_mysql_styles.scss */
.null_rent {
  background-color: grey;
  color: black;
}

/* line 1214, ../sass/_mysql_styles.scss */
.red_rent {
  background-color: red;
  color: white;
}

/* line 1215, ../sass/_mysql_styles.scss */
.yellow_rent {
  background-color: yellow;
  color: black;
}

/* line 1216, ../sass/_mysql_styles.scss */
.green_rent {
  background-color: green;
  color: white;
}

/* line 1217, ../sass/_mysql_styles.scss */
.needs_attention {
  background-color: lightblue;
  color: black;
}

/* line 1219, ../sass/_mysql_styles.scss */
.fr_result {
  width: 25vw;
  position: fixed;
  top: 37vh;
  right: 3vw;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
}
/* line 1227, ../sass/_mysql_styles.scss */
.fr_result span {
  font-weight: 100;
}

/* line 1231, ../sass/_mysql_styles.scss */
#months .ui-tabs-panel {
  min-height: 100px;
}

/* line 1235, ../sass/_mysql_styles.scss */
.razbivka {
  width: 500px;
  position: fixed;
  top: 410px;
  right: 45px;
  background: white;
  display: none;
  font-size: 18px;
  text-align: initial;
}

/* line 1247, ../sass/_mysql_styles.scss */
tr[payment_full_year_request]:hover td.ga_widen {
  background-color: white;
}
/* line 1248, ../sass/_mysql_styles.scss */
tr[payment_full_year_request]:hover {
  background-color: #F0F0F0;
}

/* line 1250, ../sass/_mysql_styles.scss */
.refresh_r1_byer.single {
  position: fixed;
  top: 268px;
  left: 23px;
  padding: 7px;
  color: orangered;
  font-size: 28px;
  border: 2px solid black;
  border-radius: 0.5vh;
}
/* line 1259, ../sass/_mysql_styles.scss */
.refresh_r1_byer.single:hover {
  background-color: orangered;
  color: white;
}

/* line 1265, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track {
  line-height: 30px;
  font-size: 25px;
}
/* line 1268, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track td {
  line-height: 30px;
  font-size: 25px;
  border: 1px solid black;
}
/* line 1273, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track tbody tr td table.order_events_track th {
  font-size: 25px;
}
/* line 1276, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track .order_events_track td, .ga_byer_requests .result_track .order_events_track th {
  border: none;
}
/* line 1279, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track > thead > tr > th:nth-child(1) {
  width: 10%;
  max-width: 10%;
}
/* line 1283, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track > thead > tr > th:nth-child(2) {
  width: 10%;
  max-width: 10%;
}
/* line 1287, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track > thead > tr > th:nth-child(3) {
  width: 20%;
  max-width: 20%;
  color: black;
}
/* line 1291, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track > thead > tr > th:nth-child(3) ul li:last-child {
  color: red;
}
/* line 1293, ../sass/_mysql_styles.scss */
.ga_byer_requests .result_track > thead > tr > th:nth-child(4) {
  width: 10%;
  max-width: 10%;
}

/* line 1299, ../sass/_mysql_styles.scss */
.req_events_for_take {
  display: none;
  list-style-type: none;
}
/* line 1302, ../sass/_mysql_styles.scss */
.req_events_for_take li {
  font-size: 25px;
}
/* line 1305, ../sass/_mysql_styles.scss */
.req_events_for_take li:last-child span {
  color: red;
}

/* line 1310, ../sass/_mysql_styles.scss */
.toggle_event_list {
  font-weight: bold;
}

/* line 1, ../sass/_price.scss */
h2 {
  margin: 0;
  padding: 0;
  font-size: 3vh;
}

/* line 6, ../sass/_price.scss */
p {
  font-size: 3vh;
}

/* line 10, ../sass/_price.scss */
#cases p {
  font-size: 2vh;
}

/* line 14, ../sass/_price.scss */
#price label {
  font-size: 2vh;
  font-family: "Times New Roman";
}

/* line 19, ../sass/_price.scss */
#price h2 {
  font-size: 2vh;
  font-weight: normal;
  text-align: center;
}

/* line 25, ../sass/_price.scss */
#pr, #rent h1, #obpr {
  font-size: 3vh;
  font-family: "Times New Roman";
}

/* line 30, ../sass/_price.scss */
#clearp, #obtzrknam, #obtzrkpok, #firstobp, #margek, #rop, #rtp, #nds_to_pay, #pribil_to_pay {
  color: red;
}

/* line 36, ../sass/_price.scss */
#pr_in, #rent_in {
  border: 3px solid green;
}

/* line 40, ../sass/_price.scss */
#rent {
  position: absolute;
  top: 24.7vh;
  right: 0.9vw;
  width: 12vw;
  border-radius: 3px;
  padding: 5px;
  background: #F0F0F0;
  height: 17vh;
}
/* line 49, ../sass/_price.scss */
#rent input {
  text-align: center;
}
/* line 52, ../sass/_price.scss */
#rent #rent_in {
  font-size: 3vh;
  font-weight: bold;
  width: 10vw;
  background: #F0F0F0;
  position: relative;
  left: 1vw;
}
/* line 60, ../sass/_price.scss */
#rent h1 {
  display: inline-block;
  height: 38px;
  text-align: center;
  width: 10vw;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 1vw;
}

/* line 73, ../sass/_price.scss */
#result {
  position: absolute;
  top: 24.7vh;
  left: 64.4vw;
  width: 20vw;
  border-radius: 3px;
  padding: 5px;
  background: #F0F0F0;
  height: 17vh;
}
/* line 83, ../sass/_price.scss */
#result #pr, #result #pr_in {
  width: 18vw;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  background: #F0F0F0;
  position: relative;
  left: 1vw;
}
/* line 92, ../sass/_price.scss */
#result #button_history {
  position: relative;
  left: 8.7vw;
}

/* line 98, ../sass/_price.scss */
.active {
  border: solid 5px white;
  font-size: 20px;
}

/* line 104, ../sass/_price.scss */
#fixate {
  display: none;
  line-height: 5vh;
  font-size: 3vh;
  width: 15.3vw;
  font-weight: bold;
}

/* line 115, ../sass/_price.scss */
#rent {
  clear: left;
}

/* line 119, ../sass/_price.scss */
#price {
  margin: 0;
}

/* line 124, ../sass/_price.scss */
.pricing_container {
  border: 3px solid lightgray;
}

/* line 128, ../sass/_price.scss */
#save {
  font-size: 3vh;
  font-weight: bold;
}

/* line 133, ../sass/_price.scss */
#price input {
  font-size: 3vh;
  font-weight: bold;
}

/* line 137, ../sass/_price.scss */
#price #button_history_transports,
#price #button_exec_trade_history,
#price #button_history,
#price #button_history_tzrkpok,
#price #button_history_tzrknam,
#price #cut_kops {
  font-size: 2vh;
  font-weight: bold;
}

/* line 147, ../sass/_price.scss */
#zak, #kol, #tzr, #tzrknam, #tzrkpok, #rop, #rtp, #op, #tp, #obp, #firstobp, #wtime, #tzrstore, #firstoh {
  width: 8vw;
  text-align: center;
  font-size: 3vh;
}

/* line 152, ../sass/_price.scss */
#wtr {
  font-size: 3vh;
}

/* line 157, ../sass/_price.scss */
#op {
  border: 5px solid green;
}

/* line 161, ../sass/_price.scss */
#trade, #seller {
  position: absolute;
  left: 13vw;
  width: 72vw;
}

/* line 166, ../sass/_price.scss */
#zak, #kol {
  position: absolute;
  left: 20vw;
}

/* line 173, ../sass/_price.scss */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 190, ../sass/_price.scss */
#obtzr, #obtzrknam, #obtzrkpok, #op + p, #tp + p, #obp + p, #marge, #margek, #obpr, #firstobp + p, #id, p#byer, p#seller, p#trade, #onhands, #cases p, #realop, #realtp, #firstoh, #realop, #realtp, #wtimeday, #clearp, #oh, #wtr, #clearpnar, #nds_zak, #nds_result, #nds_to_pay, #opr_result, #pribil_to_pay, #pribil_dohod, #pribil_rashod {
  display: inline;
}

/* line 197, ../sass/_price.scss */
#nds_zak, #nds_result, #pribil_dohod, #pribil_rashod {
  font-size: 2vh;
}

/* line 203, ../sass/_price.scss */
#obnal, #margediv {
  display: none;
  padding: 1vh;
}

/*#margediv
{
    border: solid 1px green;
}*/
/* line 214, ../sass/_price.scss */
#go {
  position: absolute;
  top: 10vh;
  right: 1vw;
  font-size: 3vh;
  font-weight: bold;
  width: 15vw;
}

/* line 223, ../sass/_price.scss */
#archive, #create {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 4vh;
}

/* line 230, ../sass/_price.scss */
#cases {
  position: absolute;
  width: 25vw;
  height: 35vh;
  top: 64vh;
  right: 11vw;
  font-size: 3vh;
}

/* line 239, ../sass/_price.scss */
#spacer1, #spacer2, #spacer3, #spacer4, #spacer5, #spacer6 {
  display: inline-block;
}

/* line 242, ../sass/_price.scss */
#spacer1 {
  width: 4vw;
}

/* line 243, ../sass/_price.scss */
#spacer2 {
  width: 2vw;
}

/* line 244, ../sass/_price.scss */
#spacer3 {
  width: 12vw;
}

/* line 245, ../sass/_price.scss */
#spacer4 {
  width: 9.5vw;
}

/* line 246, ../sass/_price.scss */
#spacer5 {
  width: 15vw;
}

/* line 247, ../sass/_price.scss */
#spacer6 {
  width: 14vw;
}

/* line 249, ../sass/_price.scss */
#cases input {
  font-size: 3vh;
}

/*!*╨Ю╨д╨Ю╨а╨Ь╨Ы╨Х╨Э╨Ш ╨в╨Р╨С╨Ы╨Ш╨ж╨л*!
#prlist{
    min-height: 100vh;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
}

td, th {
    text-align: center;
    padding: 2px;
}
!*╨Т╤Л╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╨┐╤А╨╕ ╨╜╨░╨▓╨╡╨┤╨╡╨╜╨╕╨╕*!
tbody tr:hover td, .hovered {
    background-color: white;
    color : black;
    border: 1px solid black;
}
tbody tr:hover td input.delete{
    background-color: red;
    color : white;
}
tbody tr:hover td input.edit{
    background-color: green;
    color : white;
}
tbody tr:hover td input.copy{
    background-color: skyblue;
    color : white;
}
tbody input{
    cursor : pointer;
}
tr td:first-child{
    width: 2vw;
}




th {
    background-color: green;
    color: white;
}*/
/*╨а╨Р╨Ч╨Ь╨Х╨а ╨б╨Р╨Ь╨Ю╨У╨Ю ╨Ю╨Ъ╨Э╨Р*/
/* line 306, ../sass/_price.scss */
#editp, #copyp {
  position: relative;
  height: 0vh;
  margin-top: 2vh;
}

/*╨Ю╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╨╛╨╜╨╜╨╛╨╡ ╨╛╨║╨╛╤И╨║╨╛*/
/* line 313, ../sass/_price.scss */
#msg {
  position: fixed;
  top: 85vh;
  height: 10vh;
  right: 0;
  display: none;
  background: green;
  width: 15vw;
  border-radius: 5px;
  text-align: center;
}

/* line 323, ../sass/_price.scss */
#msg p {
  background: green;
  color: white;
}

/* line 329, ../sass/_price.scss */
#editmsg p, #copymsg p, #hide {
  background-color: green;
}

/* line 332, ../sass/_price.scss */
#editmsg, #copymsg, #hide {
  background-color: green;
}

/* line 336, ../sass/_price.scss */
#hide {
  cursor: pointer;
  position: absolute;
  right: 0vw;
  top: 4vh;
  height: 4vh;
  font-size: 3vh;
  width: 12vh;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/*╨Т╨╡╤Й╨╕, ╤Б╨┐╨╡╤Ж╨╕╤Д╨╕╤З╨╡╤Б╨║╨╕╨╡ ╨┤╨╗╤П add_request*/
/* line 361, ../sass/_price.scss */
#go_request {
  font-size: 10vh;
}

/* line 366, ../sass/_price.scss */
tr[id^="inside"] {
  display: none;
}

/* line 370, ../sass/_price.scss */
tr[id^="inside"] td:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* line 376, ../sass/_price.scss */
tr[id^="inside"] td input {
  display: inline;
  vertical-align: top;
}

/* line 381, ../sass/_price.scss */
tr[id^="inside"] td {
  text-align: left;
}

/* line 385, ../sass/_price.scss */
#creating {
  display: none;
}

/* line 389, ../sass/_price.scss */
.savename {
  background-color: red;
  color: white;
}

/* line 394, ../sass/_price.scss */
#opr_result, #pr {
  color: #1b5700;
}

/* line 397, ../sass/_price.scss */
.result_track {
  font-size: 30px;
}
