@charset "UTF-8";
/* line 1, ../sass/_mysql_styles.scss */
.creates {
  display: none;
  width: 50vw;
}

/* line 6, ../sass/_mysql_styles.scss */
input {
  border-radius: 0.5vh;
  background-color: white;
}

/* line 11, ../sass/_mysql_styles.scss */
.add_ramk {
  /*    border: 1px solid black;
      border-radius: 0.5vh;*/
  padding: 1vh;
}

/* line 16, ../sass/_mysql_styles.scss */
#db_status:hover {
  color: black;
}

/* line 17, ../sass/_mysql_styles.scss */
#db_status {
  color: white;
}

/* line 19, ../sass/_mysql_styles.scss */
#theinput {
  width: 90%;
}

/* line 23, ../sass/_mysql_styles.scss */
#editmsg {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 15vh;
  width: 20vw;
  display: none;
  background: green;
  border-radius: 2vh;
  color: white;
  font-size: 2.5vh;
  padding: 0.5vh;
  z-index: 20;
}

/* line 37, ../sass/_mysql_styles.scss */
.contents, .pricings, .pricing_container {
  display: none;
}

/* line 41, ../sass/_mysql_styles.scss */
.pricing_container {
  height: 97vh;
  width: 97vw;
  position: absolute;
  top: -8vh;
  left: 0vw;
}

/*Выпадающий список*/
/*Блок выпадающих элементов*/
/* line 54, ../sass/_mysql_styles.scss */
#thesearch {
  text-align: -webkit-center;
  width: 90vw;
  margin-left: 4.5vw;
  line-height: 5vh;
  font-family: Arial;
  font-size: 3vh;
}

/* line 62, ../sass/_mysql_styles.scss */
#sres ul {
  margin: 0;
  padding: 0;
  width: 90vw;
  margin-left: 4.5vw;
}

/* line 68, ../sass/_mysql_styles.scss */
#byer + div ul, #byer_interval + div ul, #trade + div ul, #seller + div ul, .sync_byer + div ul,
.sync_trade + div ul, .sync_seller + div ul, .sync_request + div ul, .sync_payment + div ul {
  margin: 0;
  padding: 0;
  width: 40vw;
  margin-left: 5vw;
}

/* line 76, ../sass/_mysql_styles.scss */
#sres ul li, .sres ul li {
  z-index: 100;
  min-height: 3vh;
  font-family: Arial;
  font-size: 3vh;
}

/*при наведении цвет под тогглящийся класс*/
/* line 84, ../sass/_mysql_styles.scss */
#sres ul li:hover, #byer + div ul li:hover, #byer_interval + div ul li:hover, #trade + div ul li:hover, #seller + div ul li:hover, #sres ul li .sres li:hover,
.sync_byer + div ul li:hover, .sync_trade + div ul li:hover, .sync_seller + div ul li:hover, #sres ul li .sres li:hover, .sync_request + div ul li:hover, .sync_payment + div ul li:hover {
  background-color: green;
  color: white;
  border-color: grey;
}

/*точечки списковые убраны*/
/* line 93, ../sass/_mysql_styles.scss */
#sres ul, #byer + div ul, #byer_interval + div ul, #trade + div ul, #seller + div ul, .sync_byer + div ul, .sync_trade + div ul, .sync_seller + div ul, .sync_request + div ul, .sync_payment + div ul {
  list-style: none;
}

/*границы элементов*/
/* line 95, ../sass/_mysql_styles.scss */
#sres ul li, #byer + div ul li, #byer_interval + div ul li, #trade + div ul li, #seller + div ul li, .sync_byer + div ul li, .sync_trade + div ul li, .sync_seller + div ul li, .sync_request + div ul li, .sync_payment + div ul li {
  border: 1px solid grey;
  border-bottom: none;
}

/* line 100, ../sass/_mysql_styles.scss */
#sres ul li:last-child,
#byer + div ul li:last-child,
#byer_interval + div ul li:last-child,
#trade + div ul li:last-child,
#seller + div ul li:last-child,
.sync_byer + div ul li:last-child,
.sync_trade + div ul li:last-child,
.sync_request + div ul li:last-child,
.sync_payment + div ul li:last-child,
.sync_seller + div ul li:last-child {
  border: 1px solid grey;
}

/*Цветовая дифференциация выдачи*/
/* line 112, ../sass/_mysql_styles.scss */
li[category="byer"] {
  background-color: lightyellow;
}

/* line 115, ../sass/_mysql_styles.scss */
li[category="seller"] {
  background-color: lightsalmon;
}

/* line 118, ../sass/_mysql_styles.scss */
li[category="trade"] {
  background-color: lightgreen;
}

/* line 121, ../sass/_mysql_styles.scss */
li[category="request"] {
  background-color: lightblue;
}

/* line 124, ../sass/_mysql_styles.scss */
li[category="payment"] {
  background-color: ghostwhite;
}

/*Маленькая пометочка в углу выдачи о категории*/
/* line 129, ../sass/_mysql_styles.scss */
.note {
  position: absolute;
  height: 2vh;
  bottom: 0;
  right: 0;
  font-family: Arial;
  font-size: 1.5vh;
}

/*Позиционирование лист итема*/
/* line 138, ../sass/_mysql_styles.scss */
#sres ul li, #byer + div ul li, #byer_interval + div ul li, #trade + div ul li, #seller + div ul li, .sync_seller + div ul li, .sync_byer + div ul li, .sync_trade + div ul li, .sync_request + div ul li, .sync_payment + div ul li {
  position: relative;
}

/*Абзац из выпадающего списка */
/* line 141, ../sass/_mysql_styles.scss */
#sres ul li span {
  margin: 0;
  padding: 0;
}

/* line 146, ../sass/_mysql_styles.scss */
#byer + div ul li p, #byer_interval + div ul li p, #trade + div ul li p, #seller + div ul li p, .sync_byer + div ul li p, .sync_trade + div ul li p, .sync_seller + div ul li p, .sync_request + div ul li p, .sync_payment + div ul li p {
  z-index: 1;
  line-height: 3vh;
  margin: 0;
  padding: 0;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Инпуты поиска в прайсформе*/
/*Позиционирование лист итема*/
/* line 160, ../sass/_mysql_styles.scss */
#byer div ul li, #byer_interval div ul li, #trade div ul li, #seller div ul li, .sync_byer div ul li,
.sync_trade div ul li, .sync_seller div ul li, .sync_payment div ul li {
  position: relative;
}

/* line 163, ../sass/_mysql_styles.scss */
.sync_byer, .sync_seller, .sync_trade, .sync_payment {
  float: left;
}

/* line 166, ../sass/_mysql_styles.scss */
#byer + .sres ul, #byer_interval + .sres ul {
  position: absolute;
  top: 9.05vh;
  left: 18.15vw;
}

/*Таблица расценок*/
/* line 174, ../sass/_mysql_styles.scss */
.pricings td {
  border: 1px solid grey;
  text-align: center;
  vertical-align: middle;
}

/**/
/*ОКНО РАСЦЕНОК ЕДИНОЕ ДЛЯ ВСЕХ ВВЕРХУ ЭКРАНА*/
/* line 182, ../sass/_mysql_styles.scss */
#pricingwindow {
  display: none;
  height: 99vh;
  width: 95vw;
  margin-left: 10px;
}

/**/
/* line 190, ../sass/_mysql_styles.scss */
#reads {
  min-height: 85vh;
  width: 98vw;
}

/* line 197, ../sass/_mysql_styles.scss */
#pricingwindow .closepricing {
  position: absolute;
  top: 5px;
  right: 0.9vw;
  height: 2vw;
  width: 2vw;
}

/* line 205, ../sass/_mysql_styles.scss */
#pricingwindow .minimizepricing {
  position: absolute;
  top: 1vw;
  right: 3vw;
  height: 2vw;
  width: 2vw;
}

/* line 213, ../sass/_mysql_styles.scss */
.add-pos-inputs {
  display: none;
}

/*Таблица заявок*/
/* line 219, ../sass/_mysql_styles.scss */
table, td, tr, thead, th {
  border-collapse: collapse;
  vertical-align: top;
}

/* line 223, ../sass/_mysql_styles.scss */
table {
  table-layout: fixed;
  width: 100%;
}

/*Класс - таблица из результатов поиска. айдишник - таблица из табов*/
/*Таблица первого уровня (заявки)*/
/* line 231, ../sass/_mysql_styles.scss */
.requests_list, .search_list {
  /*Таблица второго уровня (позиции)*/
  /*Таблица  третьего уровня (расценки) */
  /*Горизонтальное позиционирование содержимого td:*/
  /*1й уровень (заявки)*/
  /*2й уровень (позиции*/
  /*3й уровень (расцеки)*/
  /*Таблица отображения циферок рентабельности*/
  /**/
  /*граница низ-прав для Ряда заявки*/
  /*Таблица второго уровня*/
}
/* line 232, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(1), .search_list > table > thead > tr > th:nth-child(1) {
  width: 7%;
}
/* line 233, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(2), .search_list > table > thead > tr > th:nth-child(2) {
  width: 11%;
}
/* line 234, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(3), .search_list > table > thead > tr > th:nth-child(3) {
  width: 11%;
}
/* line 235, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(4), .search_list > table > thead > tr > th:nth-child(4) {
  width: 48%;
}
/* line 236, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(5), .search_list > table > thead > tr > th:nth-child(5) {
  width: 7%;
}
/* line 237, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(6), .search_list > table > thead > tr > th:nth-child(6) {
  width: 10%;
}
/* line 238, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr > th:nth-child(7), .search_list > table > thead > tr > th:nth-child(7) {
  width: 5%;
}
/* line 239, ../sass/_mysql_styles.scss */
.requests_list > table > thead > tr, .search_list > table > thead > tr {
  border-bottom: 1px black solid;
}
/* line 242, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(1), .search_list .positions th:nth-child(1) {
  width: 2%;
}
/* line 243, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(2), .search_list .positions th:nth-child(2) {
  width: 71%;
}
/* line 244, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(3), .search_list .positions th:nth-child(3) {
  width: 8%;
}
/* line 245, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(4), .search_list .positions th:nth-child(4) {
  width: 8%;
}
/* line 246, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(5), .search_list .positions th:nth-child(5) {
  width: 5%;
}
/* line 247, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(6), .search_list .positions th:nth-child(6) {
  width: 5%;
}
/* line 248, ../sass/_mysql_styles.scss */
.requests_list .positions th:nth-child(7), .search_list .positions th:nth-child(7) {
  width: 5%;
}
/* line 251, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(1), .search_list .pricing-list th:nth-child(1) {
  width: 20%;
}
/* line 252, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(2), .search_list .pricing-list th:nth-child(2) {
  width: 20%;
}
/* line 253, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(3), .search_list .pricing-list th:nth-child(3) {
  width: 7%;
}
/* line 254, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(4), .search_list .pricing-list th:nth-child(4) {
  width: 5%;
}
/* line 255, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(5), .search_list .pricing-list th:nth-child(5) {
  width: 5%;
}
/* line 256, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(6), .search_list .pricing-list th:nth-child(6) {
  width: 5%;
}
/* line 257, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(7), .search_list .pricing-list th:nth-child(7) {
  width: 4%;
}
/* line 258, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(8), .search_list .pricing-list th:nth-child(8) {
  width: 10%;
}
/* line 259, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(9), .search_list .pricing-list th:nth-child(9) {
  width: 5%;
}
/* line 260, ../sass/_mysql_styles.scss */
.requests_list .pricing-list th:nth-child(10), .search_list .pricing-list th:nth-child(10) {
  width: 14%;
}
/* line 264, ../sass/_mysql_styles.scss */
.requests_list td, .search_list td {
  text-align: center;
}
/* line 265, ../sass/_mysql_styles.scss */
.requests_list td:nth-child(4), .search_list td:nth-child(4) {
  text-align: left;
}
/* line 267, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(1), .search_list .positions td:nth-child(1) {
  text-align: center;
}
/* line 268, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(2), .search_list .positions td:nth-child(2) {
  text-align: left;
}
/* line 269, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(3), .search_list .positions td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}
/* line 270, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(4), .search_list .positions td:nth-child(4) {
  text-align: left;
  vertical-align: middle;
}
/* line 271, ../sass/_mysql_styles.scss */
.requests_list .positions td:nth-child(5), .search_list .positions td:nth-child(5) {
  text-align: center;
}
/* line 273, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(1), .search_list .pricing-list td:nth-child(1) {
  text-align: center;
}
/* line 274, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(2), .search_list .pricing-list td:nth-child(2) {
  text-align: center;
}
/* line 275, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(3), .search_list .pricing-list td:nth-child(3) {
  text-align: center;
}
/* line 276, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(4), .search_list .pricing-list td:nth-child(4) {
  text-align: center;
}
/* line 277, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(5), .search_list .pricing-list td:nth-child(5) {
  text-align: center;
}
/* line 278, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(6), .search_list .pricing-list td:nth-child(6) {
  text-align: center;
}
/* line 279, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(7), .search_list .pricing-list td:nth-child(7) {
  text-align: center;
}
/* line 280, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(8), .search_list .pricing-list td:nth-child(8) {
  text-align: center;
}
/* line 281, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(9), .search_list .pricing-list td:nth-child(9) {
  text-align: center;
}
/* line 282, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(10), .search_list .pricing-list td:nth-child(10) {
  text-align: center;
}
/* line 283, ../sass/_mysql_styles.scss */
.requests_list .pricing-list td:nth-child(11), .search_list .pricing-list td:nth-child(11) {
  text-align: center;
}
/* line 287, ../sass/_mysql_styles.scss */
.requests_list .rentcount .rent-table td, .search_list .rentcount .rent-table td {
  text-align: center;
}
/* line 294, ../sass/_mysql_styles.scss */
.requests_list tr, .search_list tr {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}
/* line 299, ../sass/_mysql_styles.scss */
.requests_list tr td:nth-child(1), .requests_list tr td:nth-child(2), .requests_list tr td:nth-child(3), .requests_list tr td:nth-child(4), .requests_list tr td:nth-child(5), .requests_list tr td:nth-child(6), .requests_list tr td:nth-child(7), .search_list tr td:nth-child(1), .search_list tr td:nth-child(2), .search_list tr td:nth-child(3), .search_list tr td:nth-child(4), .search_list tr td:nth-child(5), .search_list tr td:nth-child(6), .search_list tr td:nth-child(7) {
  border-right: 1px black solid;
}
/* line 310, ../sass/_mysql_styles.scss */
.requests_list tr td:last-child, .search_list tr td:last-child {
  border-right: none;
}
/* line 316, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions td, .search_list tr td .contents .positions td {
  border: none;
}
/* line 317, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr, .search_list tr td .contents .positions .pricings table.pricing-list tbody tr {
  border-bottom: 1px solid black;
}
/* line 318, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1), .search_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1) {
  border: none;
}

/*Таблица отображения циферок рентабельности*/
/* line 328, ../sass/_mysql_styles.scss */
.rentcount .rent-table td {
  text-align: center;
}

/**/
/*граница низ-прав для Ряда заявки*/
/* line 335, ../sass/_mysql_styles.scss */
.requests_list tr {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}

/* line 340, ../sass/_mysql_styles.scss */
.requests_list tr td:nth-child(1),
.requests_list tr td:nth-child(2),
.requests_list tr td:nth-child(3),
.requests_list tr td:nth-child(4),
.requests_list tr td:nth-child(5),
.requests_list tr td:nth-child(6),
.requests_list tr td:nth-child(7) {
  border-right: 1px black solid;
}

/* line 351, ../sass/_mysql_styles.scss */
.requests_list tr td:last-child {
  border-right: none;
}

/*Таблица второго уровня*/
/* line 357, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions td {
  border: none;
}

/* line 358, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr {
  border-bottom: 1px solid black;
}

/* line 359, ../sass/_mysql_styles.scss */
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1) {
  border: none;
}

/*шрифты таблицы*/
/* line 362, ../sass/_mysql_styles.scss */
td[category="requests"], td[byerid], td[category="positions"], .pricings {
  font-size: 16px;
  font-family: Arial;
}

/* line 366, ../sass/_mysql_styles.scss */
tbody tr[position]:hover {
  border-bottom: 1px solid black;
}

/* line 370, ../sass/_mysql_styles.scss */
.pricing-list th, .pricing-list td {
  font-weight: normal;
  font-size: 2vh;
}

/* line 371, ../sass/_mysql_styles.scss */
.pricing-list tbody tr:hover {
  background-color: white;
  font-weight: bold;
}

/*ПОБЕДИТЕЛИ*/
/* line 374, ../sass/_mysql_styles.scss */
tr.win[pricingid], tr.win[pricingid]:hover {
  background-color: green;
  color: white;
}

/* line 379, ../sass/_mysql_styles.scss */
td.rent_whole, td.sum_whole {
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
}

/*Резальтаты поиска при создании позиции(выпрыгивает список позиций*/
/* line 386, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul {
  list-style: none;
  width: 40vw;
}

/* line 391, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li {
  z-index: 100;
  min-height: 3vh;
  font-family: Arial;
  font-size: 3vh;
  position: relative;
}

/* line 399, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li {
  border: 1px solid black;
  border-bottom: none;
}

/* line 404, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li:last-child, .add-pos-inputs .sres ul li:last-child:hover {
  border: 1px solid black;
}

/* line 408, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li:hover {
  background-color: green;
  color: white;
  border-color: white;
}

/* line 414, ../sass/_mysql_styles.scss */
.add-pos-inputs .sres ul li span, .add-pos-inputs .sres ul li p {
  margin: 0;
  padding: 0;
}

/* line 418, ../sass/_mysql_styles.scss */
#requests {
  padding: 0.5vw;
}

/* line 419, ../sass/_mysql_styles.scss */
tr[pricingid] td {
  border: 1px solid black;
}

/**/
/*Таблица расшифровки расчет рентабельности*/
/* line 423, ../sass/_mysql_styles.scss */
.requests_list .demo, .requests_list .demo tr, .requests_list .demo td, .requests_list .demo tr td:nth-child(1) {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

/* line 424, ../sass/_mysql_styles.scss */
.requests_list .demo tr:first-child td {
  border-bottom: 1px solid black;
}

/* line 425, ../sass/_mysql_styles.scss */
.demo {
  font-size: 20px;
  font-weight: 600;
}

/* line 430, ../sass/_mysql_styles.scss */
.rentcount {
  display: none;
}

/*Закончилась Таблица расшифровки расчет рентабельности*/
/*Класс для редактирования материала*/
/* line 437, ../sass/_mysql_styles.scss */
.widen {
  height: 95vh;
  width: 95vw;
  background: #F5FFFA;
}

/* line 443, ../sass/_mysql_styles.scss */
.ga_widen {
  min-height: 99vh;
}

/* line 448, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments.min-h, .ga_contents .ga_c_giveaways.min-h, .ga_contents .ga_c_positions.min-h {
  min-height: 105px;
}
/* line 452, ../sass/_mysql_styles.scss */
.ga_contents tbody tr:hover {
  background-color: green;
  color: white;
}
/* line 458, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(1), .ga_contents .ga_c_giveaways table th:nth-child(1) {
  width: 15vw;
}
/* line 459, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(2), .ga_contents .ga_c_giveaways table th:nth-child(2) {
  width: 15vw;
}
/* line 460, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(3), .ga_contents .ga_c_giveaways table th:nth-child(3) {
  width: 15vw;
}
/* line 461, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_payments table th:nth-child(4), .ga_contents .ga_c_giveaways table th:nth-child(4) {
  width: 15vw;
}
/* line 467, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(1) {
  width: 15vw;
}
/* line 468, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(2) {
  width: 5vw;
}
/* line 469, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(3) {
  width: 5vw;
}
/* line 470, ../sass/_mysql_styles.scss */
.ga_contents .ga_c_positions table th:nth-child(4) {
  width: 5vw;
}

/* line 475, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(1), .shrinken > table > tbody > tr > td:nth-child(1) {
  display: none;
}
/* line 476, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(2), .shrinken > table > tbody > tr > td:nth-child(2) {
  display: none;
}
/* line 477, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(3), .shrinken > table > tbody > tr > td:nth-child(3) {
  display: none;
}
/* line 478, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(4), .shrinken > table > tbody > tr > td:nth-child(4) {
  width: 100%;
}
/* line 479, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(5), .shrinken > table > tbody > tr > td:nth-child(5) {
  display: none;
}
/* line 480, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(6), .shrinken > table > tbody > tr > td:nth-child(6) {
  display: none;
}
/* line 481, ../sass/_mysql_styles.scss */
.shrinken > table > thead > tr > th:nth-child(7), .shrinken > table > tbody > tr > td:nth-child(7) {
  display: none;
}

/* line 485, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(1), .ga_shrinken > table > tbody > tr > td:nth-child(1) {
  display: none;
}
/* line 486, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(2), .ga_shrinken > table > tbody > tr > td:nth-child(2) {
  display: none;
}
/* line 487, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(3), .ga_shrinken > table > tbody > tr > td:nth-child(3) {
  width: 100%;
}
/* line 488, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(4), .ga_shrinken > table > tbody > tr > td:nth-child(4) {
  display: none;
}
/* line 489, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(5), .ga_shrinken > table > tbody > tr > td:nth-child(5) {
  display: none;
}
/* line 490, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(6), .ga_shrinken > table > tbody > tr > td:nth-child(6) {
  display: none;
}
/* line 491, ../sass/_mysql_styles.scss */
.ga_shrinken > table > thead > tr > th:nth-child(7), .ga_shrinken > table > tbody > tr > td:nth-child(7) {
  display: none;
}

/* line 500, ../sass/_mysql_styles.scss */
#add_giveaway {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  z-index: 100;
  position: fixed;
  left: 770px;
  bottom: -500px;
  height: 200px;
  width: 300px;
}
/* line 512, ../sass/_mysql_styles.scss */
#add_giveaway.come_here {
  top: 150px;
}

/* line 516, ../sass/_mysql_styles.scss */
#add_payment {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  left: 550px;
  top: -500px;
  height: 200px;
  width: 300px;
}
/* line 527, ../sass/_mysql_styles.scss */
#add_payment.come_here {
  top: 150px;
}

/* line 531, ../sass/_mysql_styles.scss */
#edit_1c_num {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  left: 274px;
  top: -500px;
  height: 200px;
  width: 250px;
}
/* line 542, ../sass/_mysql_styles.scss */
#edit_1c_num.come_here {
  top: 133px;
}

/* line 547, ../sass/_mysql_styles.scss */
#edit_options {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  left: 5px;
  top: -700px;
  width: 220px;
}
/* line 557, ../sass/_mysql_styles.scss */
#edit_options span {
  font-size: 25px;
}
/* line 560, ../sass/_mysql_styles.scss */
#edit_options.come_here {
  top: 133px;
}
/* line 563, ../sass/_mysql_styles.scss */
#edit_options #req_op_op, #edit_options #req_op_tp, #edit_options #req_op_firstobp, #edit_options #req_op_wt {
  font-size: 25px;
}
/* line 566, ../sass/_mysql_styles.scss */
#edit_options #edit_op, #edit_options #edit_tp, #edit_options #edit_firstobp, #edit_options #edit_wt {
  font-size: 20px;
  width: 200px;
  text-align: center;
}
/* line 571, ../sass/_mysql_styles.scss */
#edit_options input[cc] {
  width: 200px;
  font-size: 20px;
}

/* line 577, ../sass/_mysql_styles.scss */
#edit_options_pos {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  position: fixed;
  right: 15px;
  top: -700px;
  width: 220px;
}
/* line 587, ../sass/_mysql_styles.scss */
#edit_options_pos span {
  font-size: 25px;
}
/* line 590, ../sass/_mysql_styles.scss */
#edit_options_pos.come_here {
  top: 0;
}
/* line 593, ../sass/_mysql_styles.scss */
#edit_options_pos #pos_op_op, #edit_options_pos #pos_op_tp, #edit_options_pos #pos_op_firstobp, #edit_options_pos #pos_op_wt {
  font-size: 25px;
}
/* line 596, ../sass/_mysql_styles.scss */
#edit_options_pos #edit_op_pos, #edit_options_pos #edit_tp_pos, #edit_options_pos #edit_firstobp_pos, #edit_options_pos #edit_wt_pos {
  font-size: 20px;
  width: 200px;
  text-align: center;
}
/* line 601, ../sass/_mysql_styles.scss */
#edit_options_pos input[cc] {
  width: 200px;
  font-size: 20px;
}
/* line 606, ../sass/_mysql_styles.scss */
#edit_options_pos label[for="queen"] {
  font-size: 22px;
}
/* line 609, ../sass/_mysql_styles.scss */
#edit_options_pos #add_queen {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/* line 616, ../sass/_mysql_styles.scss */
#edit_options_trade {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  background: white;
  left: calc(100%/2);
  position: fixed;
  top: -700px;
  width: 700px;
  height: 315px;
}
/* line 625, ../sass/_mysql_styles.scss */
#edit_options_trade #edit_trade_name {
  font-size: 25px;
}
/* line 633, ../sass/_mysql_styles.scss */
#edit_options_trade span {
  font-size: 25px;
}
/* line 636, ../sass/_mysql_styles.scss */
#edit_options_trade.come_here {
  top: calc(100%/3);
}
/* line 639, ../sass/_mysql_styles.scss */
#edit_options_trade input[cc] {
  width: 200px;
  font-size: 20px;
}
/* line 643, ../sass/_mysql_styles.scss */
#edit_options_trade .close_edit_options_trade {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
}
/* line 649, ../sass/_mysql_styles.scss */
#edit_options_trade #edit_trade_tare {
  font-size: 20px;
}

/* line 654, ../sass/_mysql_styles.scss */
#edit_options_byer {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  background: white;
  left: calc(100%/2);
  position: fixed;
  top: -700px;
  width: 700px;
  height: 500px;
}
/* line 663, ../sass/_mysql_styles.scss */
#edit_options_byer #edit_byer_name {
  font-size: 25px;
}
/* line 671, ../sass/_mysql_styles.scss */
#edit_options_byer span, #edit_options_byer input[type="text"], #edit_options_byer input[type="number"] {
  font-size: 25px;
}
/* line 674, ../sass/_mysql_styles.scss */
#edit_options_byer.come_here {
  top: calc(100%/3);
}
/* line 677, ../sass/_mysql_styles.scss */
#edit_options_byer input[cc] {
  font-size: 20px;
}
/* line 680, ../sass/_mysql_styles.scss */
#edit_options_byer .close_edit_options_byer {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
}

/* line 688, ../sass/_mysql_styles.scss */
#button_add_giveaway, #button_add_payment {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 150px;
}

/* line 694, ../sass/_mysql_styles.scss */
.close_add_g,
.close_add_p, .close_edit_1c_num, .close_edit_options, .close_edit_options_pos {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 701, ../sass/_mysql_styles.scss */
#add_payment, #add_giveaway, #edit_1c_num, #edit_options, #edit_options_pos {
  background-color: white;
}
/* line 704, ../sass/_mysql_styles.scss */
#add_payment input:focus, #add_giveaway input:focus, #edit_1c_num input:focus, #edit_options input:focus, #edit_options_pos input:focus {
  background-color: lightblue;
}

/* line 709, ../sass/_mysql_styles.scss */
.ga_byer_requests {
  display: none;
}
/* line 711, ../sass/_mysql_styles.scss */
.ga_byer_requests table {
  text-align: center;
}
/* line 713, ../sass/_mysql_styles.scss */
.ga_byer_requests table tr[ga_request]:hover td.ga_widen {
  background-color: white;
}
/* line 714, ../sass/_mysql_styles.scss */
.ga_byer_requests table tr[ga_request]:hover {
  background-color: #F0F0F0;
}
/* line 717, ../sass/_mysql_styles.scss */
.ga_byer_requests table td:nth-child(3) {
  text-align: left;
}
/* line 718, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(1) {
  width: 6%;
}
/* line 719, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(2) {
  width: 7%;
}
/* line 720, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(3) {
  width: 2%;
}
/* line 721, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(4) {
  width: 2%;
}
/* line 722, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(5) {
  width: 7%;
}
/* line 723, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(6) {
  width: 5%;
}
/* line 724, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(7) {
  width: 5%;
}
/* line 725, ../sass/_mysql_styles.scss */
.ga_byer_requests table th:nth-child(8) {
  width: 10%;
}
/* line 727, ../sass/_mysql_styles.scss */
.ga_byer_requests table .count_req_r1.red_letters {
  color: red;
}
/* line 728, ../sass/_mysql_styles.scss */
.ga_byer_requests table .count_req_r1.green_letters {
  color: green;
}
/* line 731, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list {
  text-align: center;
}
/* line 733, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list tr:hover td.ga_widen {
  background-color: white;
}
/* line 734, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list tr:hover {
  background-color: #F0F0F0;
}
/* line 737, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list td:nth-child(3) {
  text-align: left;
}
/* line 738, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(1) {
  width: 3%;
}
/* line 739, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(2) {
  width: 3%;
}
/* line 740, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(3) {
  width: 3%;
}
/* line 741, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(4) {
  width: 6%;
}
/* line 742, ../sass/_mysql_styles.scss */
.ga_byer_requests table.ga_give_list th:nth-child(5) {
  width: 2%;
}

/* line 746, ../sass/_mysql_styles.scss */
.byer_req_list {
  list-style: none;
}
/* line 748, ../sass/_mysql_styles.scss */
.byer_req_list .collapse_ga_byer {
  width: 40px;
}
/* line 752, ../sass/_mysql_styles.scss */
.byer_req_list .ga_contents td {
  text-align: center;
}

/* line 757, ../sass/_mysql_styles.scss */
.not_ready {
  border: 2px solid red;
  background-color: pink;
}

/* line 761, ../sass/_mysql_styles.scss */
.ready {
  border: 2px solid green;
  background-color: white;
}

/* line 765, ../sass/_mysql_styles.scss */
.ok {
  background-color: green;
  color: white;
}

/* line 766, ../sass/_mysql_styles.scss */
.not-ok {
  background-color: red;
  color: white;
}

/* line 768, ../sass/_mysql_styles.scss */
.ga_requests_date_range {
  margin: 3vh 0;
  border-bottom: 1px solid black;
  padding-bottom: 3vh;
}

/*Список покупателей*/
/* line 778, ../sass/_mysql_styles.scss */
.byers_list table {
  text-align: center;
}

/* line 784, ../sass/_mysql_styles.scss */
#go_up {
  position: fixed;
  left: -5px;
  top: 0;
  color: green;
  z-index: 100;
  height: 100vh;
  font-size: 13px;
  width: 17px;
  padding: 0;
}
/* line 794, ../sass/_mysql_styles.scss */
#go_up:hover {
  background-color: green;
  color: white;
}

/* line 801, ../sass/_mysql_styles.scss */
.current_pricing {
  color: green;
}

/* line 805, ../sass/_mysql_styles.scss */
#button_history.pushed, #button_history_tzrkpok.pushed, #button_history_tzrknam.pushed, #button_history_trade.pushed, #button_history_seller.pushed, #button_history_transports.pushed {
  color: white;
  background: green;
}

/* line 811, ../sass/_mysql_styles.scss */
.history.enlarged {
  position: absolute;
  top: 0;
  left: 11px;
  background: white;
  min-height: 100%;
  z-index: 10000;
}

/* line 821, ../sass/_mysql_styles.scss */
.history, .history_knam, .history_kpok, .history_seller, .history_trade, .history_transports {
  z-index: 100;
  background: white;
  position: relative;
  display: none;
  width: 60vw;
  border: 1px solid black;
  border-top: none;
}
/* line 825, ../sass/_mysql_styles.scss */
.history .button_enlarge, .history_knam .button_enlarge, .history_kpok .button_enlarge, .history_seller .button_enlarge, .history_trade .button_enlarge, .history_transports .button_enlarge {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 832, ../sass/_mysql_styles.scss */
.history tbody tr:hover, .history_knam tbody tr:hover, .history_kpok tbody tr:hover, .history_seller tbody tr:hover, .history_trade tbody tr:hover, .history_transports tbody tr:hover {
  background: green;
  color: white;
  cursor: pointer;
}
/* line 837, ../sass/_mysql_styles.scss */
.history td, .history_knam td, .history_kpok td, .history_seller td, .history_trade td, .history_transports td {
  text-align: center;
  font-size: 20px;
}

/* line 846, ../sass/_mysql_styles.scss */
.history_knam.enlarged, .history_kpok.enlarged, .history_seller.enlarged, .history_transports.enlarged {
  position: absolute;
  top: 0;
  left: 11px;
  background: white;
  min-height: 100%;
  z-index: 10000;
}
/* line 854, ../sass/_mysql_styles.scss */
.history_knam td, .history_kpok td, .history_seller td, .history_transports td {
  font-size: 18px;
}
/* line 857, ../sass/_mysql_styles.scss */
.history_knam th:nth-child(1), .history_kpok th:nth-child(1), .history_seller th:nth-child(1), .history_transports th:nth-child(1) {
  width: 10%;
}
/* line 858, ../sass/_mysql_styles.scss */
.history_knam th:nth-child(2), .history_kpok th:nth-child(2), .history_seller th:nth-child(2), .history_transports th:nth-child(2) {
  width: 30%;
}
/* line 859, ../sass/_mysql_styles.scss */
.history_knam th:nth-child(3), .history_kpok th:nth-child(3), .history_seller th:nth-child(3), .history_transports th:nth-child(3) {
  width: 10%;
}
/* line 860, ../sass/_mysql_styles.scss */
.history_knam th:nth-child(4), .history_kpok th:nth-child(4), .history_seller th:nth-child(4), .history_transports th:nth-child(4) {
  width: 10%;
}
/* line 861, ../sass/_mysql_styles.scss */
.history_knam th:nth-child(5), .history_kpok th:nth-child(5), .history_seller th:nth-child(5), .history_transports th:nth-child(5) {
  width: 10%;
}
/* line 862, ../sass/_mysql_styles.scss */
.history_knam th:nth-child(5), .history_kpok th:nth-child(5), .history_seller th:nth-child(5), .history_transports th:nth-child(5) {
  width: 10%;
}
/* line 863, ../sass/_mysql_styles.scss */
.history_knam tbody tr:hover, .history_kpok tbody tr:hover, .history_seller tbody tr:hover, .history_transports tbody tr:hover {
  background-color: green;
  color: white;
}

/* line 870, ../sass/_mysql_styles.scss */
.history_trade.enlarged {
  position: absolute;
  top: 0;
  left: 11px;
  background: white;
  min-height: 100%;
  z-index: 10000;
}
/* line 878, ../sass/_mysql_styles.scss */
.history_trade td {
  font-size: 18px;
}
/* line 881, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(1) {
  width: 10%;
}
/* line 882, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(2) {
  width: 10%;
}
/* line 883, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(3) {
  width: 30%;
}
/* line 884, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(4) {
  width: 10%;
}
/* line 885, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(5) {
  width: 10%;
}
/* line 886, ../sass/_mysql_styles.scss */
.history_trade th:nth-child(6) {
  width: 10%;
}
/* line 887, ../sass/_mysql_styles.scss */
.history_trade tbody tr:hover {
  background-color: green;
  color: white;
}

/* line 895, ../sass/_mysql_styles.scss */
#fcount {
  border: 1px solid black;
  width: 97vw;
}

/* line 900, ../sass/_mysql_styles.scss */
#search_reads {
  min-height: 100vh;
  display: none;
}

/* line 906, ../sass/_mysql_styles.scss */
.totals_list table {
  font-size: 20px;
}

/* line 911, ../sass/_mysql_styles.scss */
.shrinken_totals {
  display: none;
}

/* line 912, ../sass/_mysql_styles.scss */
.widen_totals {
  height: 70vh;
}

/* line 915, ../sass/_mysql_styles.scss */
.byer_req_list_totals tr td:nth-child(2), .byer_req_list_totals tr td:nth-child(3), .byer_req_list_totals tr td:nth-child(4) {
  text-align: center;
}
/* line 917, ../sass/_mysql_styles.scss */
.byer_req_list_totals .totals_byer_requests {
  display: none;
  padding-left: 2vw;
}
/* line 920, ../sass/_mysql_styles.scss */
.byer_req_list_totals .totals_byer_requests li {
  list-style: none;
}

/* line 924, ../sass/_mysql_styles.scss */
.totals_requests_list th {
  width: 10vw;
}
/* line 927, ../sass/_mysql_styles.scss */
.totals_requests_list th:nth-child(5) {
  width: 20vw;
}
/* line 930, ../sass/_mysql_styles.scss */
.totals_requests_list td {
  text-align: center;
}

/* line 934, ../sass/_mysql_styles.scss */
.totals_g_list {
  display: none;
}
/* line 937, ../sass/_mysql_styles.scss */
.totals_g_list table tr:hover {
  color: white;
  background: green;
}

/* line 944, ../sass/_mysql_styles.scss */
.vid_byer_requests td {
  text-align: center;
}
/* line 947, ../sass/_mysql_styles.scss */
.vid_byer_requests tr:hover {
  background: green;
  color: white;
}

/*Статус заказа в Р-1*/
/* line 955, ../sass/_mysql_styles.scss */
#requests, #requests table, #byers, #byers table, #sellers, #sellers table, #trades, #trades table, #givaways, #givaways table, #vidachi, #vidachi table, #totals, #totals table, #search, #search table {
  font-size: 16px;
}

/* line 959, ../sass/_mysql_styles.scss */
.green, .lightgreen, .yellow, .lightblue, .red, .pink {
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
}
/* line 963, ../sass/_mysql_styles.scss */
.green input, .lightgreen input, .yellow input, .lightblue input, .red input, .pink input {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 16px;
}

/* line 972, ../sass/_mysql_styles.scss */
.w {
  background: white;
  color: black;
}

/* line 976, ../sass/_mysql_styles.scss */
.x {
  background: red;
  color: white;
}

/* line 981, ../sass/_mysql_styles.scss */
.green {
  background-color: green;
  color: white;
}

/* line 982, ../sass/_mysql_styles.scss */
.lightgreen {
  background-color: lightgreen;
  color: black;
}

/* line 983, ../sass/_mysql_styles.scss */
.yellow {
  background-color: yellow;
  color: black;
}

/* line 984, ../sass/_mysql_styles.scss */
.lightblue {
  background-color: lightblue;
  color: blue;
}

/* line 985, ../sass/_mysql_styles.scss */
.red {
  background-color: red;
  color: white;
}

/* line 986, ../sass/_mysql_styles.scss */
.pink {
  background-color: deeppink;
  color: white;
}

/* line 989, ../sass/_mysql_styles.scss */
.trades_list table {
  width: 60%;
}
/* line 991, ../sass/_mysql_styles.scss */
.trades_list table td.trade_synched {
  font-size: 10px;
  text-align: right;
}
/* line 997, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(1) {
  width: 20%;
}
/* line 998, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(2) {
  width: 5%;
}
/* line 999, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(3) {
  width: 5%;
}
/* line 1000, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(4) {
  width: 15%;
}
/* line 1001, ../sass/_mysql_styles.scss */
.trades_list th:nth-child(5) {
  width: 5%;
}
/* line 1003, ../sass/_mysql_styles.scss */
.trades_list tr:hover td {
  background: green;
  color: white;
}

@-webkit-keyframes flash {
  0%, 100% {
    background: white;
    color: black;
  }
  50% {
    background: orange;
    color: white;
  }
}
@keyframes flashss {
  0%, 100% {
    background: white;
  }
  50% {
    background: orange;
  }
}
/* line 1020, ../sass/_mysql_styles.scss */
.flash {
  -webkit-animation: flashss 2s;
  -moz-animation: flashss 2s;
  -o-animation: flashss 2s;
  animation: flashss 2s;
}

/* line 1029, ../sass/_mysql_styles.scss */
.payments_list table tbody tr:hover, .vidachi_list table tbody tr:hover {
  background: green;
  color: white;
}
/* line 1033, ../sass/_mysql_styles.scss */
.payments_list table td, .vidachi_list table td {
  text-align: center;
  border: 1px solid black;
  font-size: 21px;
}

/* line 1041, ../sass/_mysql_styles.scss */
#sync_info ul, #sync_info li {
  list-style: none;
}

/* line 1046, ../sass/_mysql_styles.scss */
#sync_add_to_base {
  position: fixed;
  top: 280px;
  width: 270px;
  right: 66px;
}
/* line 1052, ../sass/_mysql_styles.scss */
#sync_add_to_base label {
  font-weight: bold;
}
/* line 1055, ../sass/_mysql_styles.scss */
#sync_add_to_base.up {
  display: none;
}
/* line 1058, ../sass/_mysql_styles.scss */
#sync_add_to_base .creates {
  display: block;
  width: 25vw;
}

/* line 1064, ../sass/_mysql_styles.scss */
#request_info {
  position: absolute;
  top: 11.7vh;
  right: 0.9vw;
  height: 6vw;
  width: 12vw;
  font-size: 2.6vh;
  text-align: right;
  border-radius: 5px;
  padding: 5px;
  background: #F0F0F0;
}

/* line 1076, ../sass/_mysql_styles.scss */
#toggle_byer_info {
  position: absolute;
  top: 6.5vh;
  right: 1vw;
  font-size: 2vh;
  font-weight: bold;
}

/* line 1083, ../sass/_mysql_styles.scss */
#byer_info {
  display: none;
  position: absolute;
  right: 0.9vw;
  top: 25vh;
  text-align: right;
  font-size: 2.5vh;
  padding: 5px;
  border-radius: 5px;
  width: 12vw;
  background: #F0F0F0;
}
/* line 1085, ../sass/_mysql_styles.scss */
#byer_info table tr:first-child td {
  text-align: center;
}
/* line 1086, ../sass/_mysql_styles.scss */
#byer_info table td {
  border: 1px solid grey;
  font-size: 2.5vh;
}
/* line 1087, ../sass/_mysql_styles.scss */
#byer_info table td:first-child {
  width: 30%;
  text-align: left;
}
/* line 1088, ../sass/_mysql_styles.scss */
#byer_info table td:nth-child(2) {
  width: 70%;
  text-align: right;
}

/* line 1106, ../sass/_mysql_styles.scss */
.pointed {
  color: white;
  background-color: black;
}

/* line 1112, ../sass/_mysql_styles.scss */
#towhatbase {
  color: green;
  font-weight: 600;
}

/* line 1117, ../sass/_mysql_styles.scss */
.givaways_list h2 {
  margin: 0;
  padding: 0;
  font-size: 2vh;
}

/* line 1123, ../sass/_mysql_styles.scss */
.up {
  display: block;
}

/* line 1, ../sass/_price.scss */
h2 {
  margin: 0;
  padding: 0;
  font-size: 3vh;
}

/* line 6, ../sass/_price.scss */
p {
  font-size: 3vh;
}

/* line 10, ../sass/_price.scss */
#cases p {
  font-size: 2vh;
}

/* line 14, ../sass/_price.scss */
#price label {
  font-size: 2vh;
  font-family: sans-serif;
}

/* line 19, ../sass/_price.scss */
#price h2 {
  font-size: 2vh;
  font-weight: normal;
  text-align: center;
}

/* line 25, ../sass/_price.scss */
#pr, #rent h1, #obpr {
  font-size: 3vh;
  font-family: sans-serif;
}

/* line 30, ../sass/_price.scss */
#clearp, #obtzrknam, #obtzrkpok, #firstobp, #margek, #rop, #rtp {
  color: red;
}

/* line 36, ../sass/_price.scss */
#pr_in, #rent_in {
  border: 3px solid green;
}

/* line 40, ../sass/_price.scss */
#rent {
  position: absolute;
  top: 11.7vh;
  right: 14.1vw;
  width: 12vw;
  border-radius: 3px;
  padding: 5px;
  background: #F0F0F0;
  height: 17vh;
}
/* line 49, ../sass/_price.scss */
#rent input {
  text-align: center;
}
/* line 52, ../sass/_price.scss */
#rent #rent_in {
  font-size: 3vh;
  font-weight: bold;
  width: 10vw;
  background: #F0F0F0;
  position: relative;
  left: 1vw;
}
/* line 60, ../sass/_price.scss */
#rent h1 {
  display: inline-block;
  height: 38px;
  text-align: center;
  width: 10vw;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 1vw;
}

/* line 73, ../sass/_price.scss */
#result {
  position: absolute;
  top: 11.7vh;
  left: 52vw;
  width: 20vw;
  border-radius: 3px;
  padding: 5px;
  background: #F0F0F0;
  height: 17vh;
}
/* line 83, ../sass/_price.scss */
#result #pr, #result #pr_in {
  width: 18vw;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  background: #F0F0F0;
  position: relative;
  left: 1vw;
}
/* line 92, ../sass/_price.scss */
#result #button_history {
  position: relative;
  left: 8.7vw;
}

/* line 98, ../sass/_price.scss */
.active {
  border: solid 5px white;
  font-size: 20px;
}

/* line 104, ../sass/_price.scss */
#fixate {
  display: none;
  line-height: 5vh;
  font-size: 3vh;
  width: 15.3vw;
  font-weight: bold;
}

/* line 115, ../sass/_price.scss */
#rent {
  clear: left;
}

/* line 119, ../sass/_price.scss */
#price {
  margin: 0;
}

/* line 124, ../sass/_price.scss */
.pricing_container {
  border: 3px solid lightgray;
}

/* line 128, ../sass/_price.scss */
#save {
  font-size: 3vh;
  font-weight: bold;
}

/* line 133, ../sass/_price.scss */
#price input {
  font-size: 3vh;
  font-weight: bold;
}

/* line 137, ../sass/_price.scss */
#price #button_history_transports,
#price #button_history,
#price #button_history_tzrkpok,
#price #button_history_tzrknam,
#price #cut_kops {
  font-size: 2vh;
  font-weight: bold;
}

/* line 146, ../sass/_price.scss */
#zak, #kol, #tzr, #tzrknam, #tzrkpok, #rop, #rtp, #op, #tp, #obp, #firstobp, #wtime {
  width: 10vw;
  text-align: center;
  font-size: 3vh;
}

/* line 151, ../sass/_price.scss */
#wtr {
  font-size: 3vh;
}

/* line 156, ../sass/_price.scss */
#op {
  border: 5px solid green;
}

/* line 160, ../sass/_price.scss */
#trade, #seller {
  position: absolute;
  left: 13vw;
  width: 72vw;
}

/* line 165, ../sass/_price.scss */
#zak, #kol {
  position: absolute;
  left: 20vw;
}

/* line 172, ../sass/_price.scss */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 189, ../sass/_price.scss */
#obtzr, #obtzrknam, #obtzrkpok, #op + p, #tp + p, #obp + p, #marge, #margek, #obpr, #firstobp + p, #id, p#byer, p#seller, p#trade, #onhands, #cases p, #realop, #realtp, #firstoh, #realop, #realtp, #wtimeday, #clearp, #oh, #wtr, #clearpnar {
  display: inline;
}

/* line 194, ../sass/_price.scss */
#obnal, #margediv {
  display: none;
  padding: 1vh;
}

/*#margediv
{
    border: solid 1px green;
}*/
/* line 205, ../sass/_price.scss */
#go {
  position: absolute;
  top: 10vh;
  right: 1vw;
  font-size: 3vh;
  font-weight: bold;
  width: 15vw;
}

/* line 214, ../sass/_price.scss */
#archive, #create {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 4vh;
}

/* line 221, ../sass/_price.scss */
#cases {
  position: absolute;
  width: 25vw;
  height: 35vh;
  top: 63vh;
  right: 3vw;
  font-size: 3vh;
}

/* line 230, ../sass/_price.scss */
#spacer1, #spacer2, #spacer3, #spacer4, #spacer5, #spacer6 {
  display: inline-block;
}

/* line 233, ../sass/_price.scss */
#spacer1 {
  width: 4vw;
}

/* line 234, ../sass/_price.scss */
#spacer2 {
  width: 2vw;
}

/* line 235, ../sass/_price.scss */
#spacer3 {
  width: 12vw;
}

/* line 236, ../sass/_price.scss */
#spacer4 {
  width: 9.5vw;
}

/* line 237, ../sass/_price.scss */
#spacer5 {
  width: 15vw;
}

/* line 238, ../sass/_price.scss */
#spacer6 {
  width: 14vw;
}

/* line 240, ../sass/_price.scss */
#cases input {
  font-size: 3vh;
}

/*!*ОФОРМЛЕНИ ТАБЛИЦЫ*!
#prlist{
    min-height: 100vh;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
}

td, th {
    text-align: center;
    padding: 2px;
}
!*Выделение при наведении*!
tbody tr:hover td, .hovered {
    background-color: white;
    color : black;
    border: 1px solid black;
}
tbody tr:hover td input.delete{
    background-color: red;
    color : white;
}
tbody tr:hover td input.edit{
    background-color: green;
    color : white;
}
tbody tr:hover td input.copy{
    background-color: skyblue;
    color : white;
}
tbody input{
    cursor : pointer;
}
tr td:first-child{
    width: 2vw;
}




th {
    background-color: green;
    color: white;
}*/
/*РАЗМЕР САМОГО ОКНА*/
/* line 297, ../sass/_price.scss */
#editp, #copyp {
  position: relative;
  height: 0vh;
  margin-top: 2vh;
}

/*Онформационное окошко*/
/* line 304, ../sass/_price.scss */
#msg {
  position: fixed;
  top: 85vh;
  height: 10vh;
  right: 0;
  display: none;
  background: green;
  width: 15vw;
  border-radius: 5px;
  text-align: center;
}

/* line 314, ../sass/_price.scss */
#msg p {
  background: green;
  color: white;
}

/* line 320, ../sass/_price.scss */
#editmsg p, #copymsg p, #hide {
  background-color: green;
}

/* line 323, ../sass/_price.scss */
#editmsg, #copymsg, #hide {
  background-color: green;
}

/* line 327, ../sass/_price.scss */
#hide {
  cursor: pointer;
  position: absolute;
  right: 0vw;
  top: 4vh;
  height: 4vh;
  font-size: 3vh;
  width: 12vh;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/*Вещи, специфические для add_request*/
/* line 352, ../sass/_price.scss */
#go_request {
  font-size: 10vh;
}

/* line 357, ../sass/_price.scss */
tr[id^="inside"] {
  display: none;
}

/* line 361, ../sass/_price.scss */
tr[id^="inside"] td:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* line 367, ../sass/_price.scss */
tr[id^="inside"] td input {
  display: inline;
  vertical-align: top;
}

/* line 372, ../sass/_price.scss */
tr[id^="inside"] td {
  text-align: left;
}

/* line 376, ../sass/_price.scss */
#creating {
  display: none;
}

/* line 380, ../sass/_price.scss */
.savename {
  background-color: red;
  color: white;
}
