.creates {
    display: none;
    width: 50vw;
}

input {
    border-radius: 0.5vh;
    background-color: white;
}

.add_ramk {
/*    border: 1px solid black;
    border-radius: 0.5vh;*/
    padding: 1vh;
}
#db_status:hover {color: black}
#db_status {color: white}

#editmsg {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 15vh;
    width: 20vw;
    display: none;
    background: green;
    border-radius: 2vh;
    color: white;
    font-size: 2.5vh;
    padding: 0.5vh;
    z-index: 20;
}
.contents, .pricings, .pricing_container  {
    display: none;
}

.pricing_container {
    height: 97vh;
    width: 97vw;
    position: absolute;
    top: -8vh;
    left: 0vw;

}
/*Выпадающий список*/

/*Блок выпадающих элементов*/
#thesearch {
    text-align: -webkit-center;
    width: 90vw;
    margin-left: 4.5vw;
    line-height: 5vh;
    font-family: Arial;
    font-size: 3vh;
}
#sres ul  {
    margin:0;
    padding:0;
    width: 90vw;
    margin-left: 4.5vw;
}
#byer+div ul, #byer_interval+div ul, #trade+div ul, #seller+div ul, .sync_byer+div ul, .sync_trade+div ul, .sync_seller+div ul {
    margin: 0;
    padding: 0;
    width: 25vw;
    margin-left: 5vw;
}

#sres ul li, .sres ul li {
    z-index: 100;
    min-height: 3vh;
    font-family: Arial;
    font-size: 3vh;
}

/*при наведении цвет под тогглящийся класс*/
#sres ul li:hover, #byer+div ul li:hover, #byer_interval+div ul li:hover, #trade+div ul li:hover, #seller+div ul li:hover, #sres ul li .sres li:hover,
.sync_byer+div ul li:hover, .sync_trade+div ul li:hover, .sync_seller+div ul li:hover, #sres ul li .sres li:hover {
    background-color: green;
    color: white;
    border-color: grey;
}


/*точечки списковые убраны*/
#sres ul, #byer+div ul, #byer_interval+div ul, #trade+div ul, #seller+div ul, .sync_byer+div ul, .sync_trade+div ul, .sync_seller+div ul {list-style: none}
/*границы элементов*/
#sres ul li, #byer+div ul li, #byer_interval+div ul li, #trade+div ul li, #seller+div ul li, .sync_byer+div ul li, .sync_trade+div ul li, .sync_seller+div ul li {
  border: 1px solid grey;
  border-bottom: none;
}
#sres ul li:last-child,
#byer+div ul li:last-child,
#byer_interval+div ul li:last-child,
#trade+div ul li:last-child,
#seller+div ul li:last-child,
.sync_byer+div ul li:last-child,
.sync_trade+div ul li:last-child,
.sync_seller+div ul li:last-child{border: 1px solid grey}

/*Цветовая дифференциация выдачи*/
li[category="byer"] {
    background-color: lightyellow;
}
li[category="seller"] {
    background-color: lightsalmon;
}
li[category="trade"] {
    background-color: lightgreen;
}
li[category="request"] {
    background-color: lightblue;
}

/*Маленькая пометочка в углу выдачи о категории*/
.note {
    position: absolute;
    height: 2vh;
    bottom: 0;
    right: 0;
    font-family: Arial;
    font-size: 1.5vh;
}
/*Позиционирование лист итема*/
#sres ul li, #byer+div ul li, #byer_interval+div ul li, #trade+div ul li, #seller+div ul li {position: relative}

/*Абзац из выпадающего списка */
#sres ul li span {
    margin: 0;
    padding: 0;
}

#byer+div ul li p, #byer_interval+div ul li p, #trade+div ul li p, #seller+div ul li p, .sync_byer+div ul li p, .sync_trade+div ul li p, .sync_seller+div ul li p {
    z-index: 1;
    line-height: 3vh;
    margin: 0;
    padding: 0;
}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Инпуты поиска в прайсформе*/

/*Позиционирование лист итема*/
#byer div ul li, #byer_interval div ul li, #trade div ul li, #seller div ul li, .sync_byer div ul li, .sync_trade div ul li, .sync_seller div ul li {position: relative}
.sync_byer, .sync_seller, .sync_trade {float: left}


#byer+.sres ul, #byer_interval+.sres ul {
    position: absolute;
    top: 9.05vh;
    left: 18.15vw;
}


/*Таблица расценок*/
.pricings td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
}
/**/

/*ОКНО РАСЦЕНОК ЕДИНОЕ ДЛЯ ВСЕХ ВВЕРХУ ЭКРАНА*/
#pricingwindow {
    display: none;
    height:99vh;
    width: 95vw;
  margin-left: 10px;
}
/**/

#reads {
  min-height:85vh;
  width:98vw;
}



#pricingwindow .closepricing {
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 2vw;
    width: 2vw;
}

#pricingwindow .minimizepricing {
  position: absolute;
  top: 1vw;
  right: 3vw;
  height: 2vw;
  width: 2vw;
}

.add-pos-inputs {
    display: none;
}


/*Таблица заявок*/
table, td, tr, thead, th {
    border-collapse: collapse;
    vertical-align: top;
}
table{
    table-layout: fixed;
    width: 100%;
}


/*Класс - таблица из результатов поиска. айдишник - таблица из табов*/
/*Таблица первого уровня (заявки)*/
.requests_list, .search_list{
  &>table>thead>tr>th:nth-child(1){width: 7%}
  &>table>thead>tr>th:nth-child(2){width: 4%}
  &>table>thead>tr>th:nth-child(3){width: 11%}
  &>table>thead>tr>th:nth-child(4){width: 56%}
  &>table>thead>tr>th:nth-child(5){width: 7%}
  &>table>thead>tr>th:nth-child(6){width: 10%}
  &>table>thead>tr>th:nth-child(7){width: 5%}
  &>table>thead>tr{border-bottom: 1px black solid;}

  /*Таблица второго уровня (позиции)*/
  & .positions th:nth-child(1){width: 2%}
  & .positions th:nth-child(2){width: 71%}
  & .positions th:nth-child(3){width: 8%}
  & .positions th:nth-child(4){width: 8%}
  & .positions th:nth-child(5){width: 5%}
  & .positions th:nth-child(6){width: 5%}
  & .positions th:nth-child(7){width: 5%}

  /*Таблица  третьего уровня (расценки) */
  & .pricing-list th:nth-child(1){width: 20%}
  & .pricing-list th:nth-child(2){width: 20%}
  & .pricing-list th:nth-child(3){width: 7%}
  & .pricing-list th:nth-child(4){width: 5%}
  & .pricing-list th:nth-child(5){width: 5%}
  & .pricing-list th:nth-child(6){width: 5%}
  & .pricing-list th:nth-child(7){width: 4%}
  & .pricing-list th:nth-child(8){width: 10%}
  & .pricing-list th:nth-child(9){width: 5%}
  & .pricing-list th:nth-child(10){width: 14%}

  /*Горизонтальное позиционирование содержимого td:*/
  /*1й уровень (заявки)*/
  & td{text-align: center}
  & td:nth-child(4){text-align: left}
  /*2й уровень (позиции*/
  & .positions td:nth-child(1){text-align: center}
  & .positions td:nth-child(2){text-align: left}
  & .positions td:nth-child(3){text-align: center; vertical-align: middle}
  & .positions td:nth-child(4){text-align: left; vertical-align: middle}
  & .positions td:nth-child(5){text-align: center}
  /*3й уровень (расцеки)*/
  & .pricing-list td:nth-child(1){text-align: center}
  & .pricing-list td:nth-child(2){text-align: center}
  & .pricing-list td:nth-child(3){text-align: center}
  & .pricing-list td:nth-child(4){text-align: center}
  & .pricing-list td:nth-child(5){text-align: center}
  & .pricing-list td:nth-child(6){text-align: center}
  & .pricing-list td:nth-child(7){text-align: center}
  & .pricing-list td:nth-child(8){text-align: center}
  & .pricing-list td:nth-child(9){text-align: center}
  & .pricing-list td:nth-child(10){text-align: center}
  & .pricing-list td:nth-child(11){text-align: center}

  /*Таблица отображения циферок рентабельности*/
  .rentcount .rent-table{
    td{
      text-align: center;
    }
  }
  /**/

  /*граница низ-прав для Ряда заявки*/
  & tr{
    border-bottom: 1px black solid;
    border-right: 1px black solid;
  }

  & tr td:nth-child(1),
  & tr td:nth-child(2),
  & tr td:nth-child(3),
  & tr td:nth-child(4),
  & tr td:nth-child(5),
  & tr td:nth-child(6),
  & tr td:nth-child(7){
    border-right: 1px black solid;
  }


  & tr td:last-child {
    border-right: none;
  }


  /*Таблица второго уровня*/
  & tr td .contents .positions td{border: none}
  & tr td .contents .positions .pricings table.pricing-list tbody tr {border-bottom: 1px solid black;}
  & tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1) {border: none;}
}






/*Таблица отображения циферок рентабельности*/
  .rentcount .rent-table{
    td{
      text-align: center;
    }
  }
/**/

/*граница низ-прав для Ряда заявки*/
.requests_list tr{
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.requests_list tr td:nth-child(1),
.requests_list tr td:nth-child(2),
.requests_list tr td:nth-child(3),
.requests_list tr td:nth-child(4),
.requests_list tr td:nth-child(5),
.requests_list tr td:nth-child(6),
.requests_list tr td:nth-child(7){
    border-right: 1px black solid;
}


.requests_list tr td:last-child {
    border-right: none;
}


/*Таблица второго уровня*/
.requests_list tr td .contents .positions td{border: none}
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr {border-bottom: 1px solid black;}
.requests_list tr td .contents .positions .pricings table.pricing-list tbody tr:nth-last-of-type(1) {border: none;}

/*шрифты таблицы*/
td[category="requests"], td[byerid], td[category="positions"], .pricings {
    font-size: 21px;
    font-family: Arial;
}
tr[position]:hover {
    border-bottom: 1px solid black;
}

.pricing-list th, .pricing-list td {font-weight: normal; font-size: 2vh}
.pricing-list tbody tr:hover {background-color: white; font-weight: bold;}

/*ПОБЕДИТЕЛИ*/
tr.win[pricingid], tr.win[pricingid]:hover {
    background-color: green;
    color: white;
}

td.rent_whole, td.sum_whole{
    text-align: center;
    vertical-align: middle;
    font-size: 21px;

}
/*Резальтаты поиска при создании позиции(выпрыгивает список позиций*/
.add-pos-inputs .sres ul{
    list-style: none;
    width: 40vw;
}

.add-pos-inputs .sres ul li {
    z-index: 100;
    min-height: 3vh;
    font-family: Arial;
    font-size: 3vh;
    position: relative;
}

.add-pos-inputs .sres ul li {
     border: 1px solid black;
     border-bottom: none
}

.add-pos-inputs .sres ul li:last-child, .add-pos-inputs .sres ul li:last-child:hover  {
    border: 1px solid black;
}

.add-pos-inputs .sres ul li:hover {
background-color: green;
color: white;
border-color: white;
}

.add-pos-inputs .sres ul li span, .add-pos-inputs .sres ul li p {
    margin: 0;
    padding: 0;
}
#requests {padding: 0.5vw}
tr[pricingid] td {border: 1px solid black}
/**/

/*Таблица расшифровки расчет рентабельности*/
.requests_list .demo, .requests_list .demo tr, .requests_list .demo td, .requests_list .demo tr td:nth-child(1) {border-bottom: none; border-right: none; border-left: none}
.requests_list .demo tr:first-child td { border-bottom: 1px solid black}
.demo {
    font-size: 20px;
    font-weight: 600;
}

.rentcount {
  display: none;
}
/*Закончилась Таблица расшифровки расчет рентабельности*/


/*Класс для редактирования материала*/
.widen {
    height: 95vh;
    width: 95vw;
    background: #F5FFFA;
}

.ga_widen {
  min-height: 99vh;
}
.ga_contents{
  .ga_c_payments, .ga_c_giveaways{
    border:1px solid #DCDCDC;
  }
  .ga_c_payments, .ga_c_giveaways, .ga_c_positions{
    &.min-h{
      min-height: 250px;
    }

  }
  table tr:hover{
    background-color: green;
    color: white;
  }
  .ga_c_payments, .ga_c_giveaways{
    table {
      th:nth-child(1) {width: 15vw};
      th:nth-child(2) {width: 15vw};
      th:nth-child(3) {width: 15vw};
      th:nth-child(4) {width: 15vw};
    }
  }

  .ga_c_positions{
    table{
      th:nth-child(1){width: 15vw};
      th:nth-child(2){width: 5vw};
      th:nth-child(3){width: 5vw};
      th:nth-child(4){width: 5vw};
    }
  }
}
.shrinken {
    &>table>thead>tr>th:nth-child(1), &>table>tbody>tr>td:nth-child(1){display: none}
    &>table>thead>tr>th:nth-child(2), &>table>tbody>tr>td:nth-child(2){display: none}
    &>table>thead>tr>th:nth-child(3), &>table>tbody>tr>td:nth-child(3){display: none}
    &>table>thead>tr>th:nth-child(4), &>table>tbody>tr>td:nth-child(4){width: 100%}
    &>table>thead>tr>th:nth-child(5), &>table>tbody>tr>td:nth-child(5){display: none}
    &>table>thead>tr>th:nth-child(6), &>table>tbody>tr>td:nth-child(6){display: none}
    &>table>thead>tr>th:nth-child(7), &>table>tbody>tr>td:nth-child(7){display: none}
}
.ga_byer_requests.shrinken>table th:nth-child(4){

}

///ВСЕ ЧТО СВЯЗАНО С ПЛАТЕЖАМИ И ВЫДАЧАМИ///////////////////////////////////////////////////////////////////////////////

#add_giveaway{
  padding:10px;
  border-radius: 5px;
  border:2px solid black;
  color: black;

  position: fixed;
  left:770px;
  bottom:-500px;
  height: 200px;
  width: 300px;
  &.come_here {
    top:150px;
  }
}
#add_payment{
  padding:10px;
  border-radius: 5px;
  border:2px solid black;
  color: black;

  position: fixed;
  left:550px;
  top:-500px;
  height: 200px;
  width: 300px;
  &.come_here {
    top:150px;
  }
}
#edit_1c_num{
  padding:10px;
  border-radius: 5px;
  border:2px solid black;
  color: black;

  position: fixed;
  left:274px;
  top:-500px;
  height: 200px;
  width: 250px;
  &.come_here {
    top:133px;
  }
}

#edit_options{
  padding:10px;
  border-radius: 5px;
  border:2px solid black;
  color: black;

  position: fixed;
  left:5px;
  top:-700px;
  width: 220px;
  span {
    font-size: 25px;
  }
  &.come_here {
    top:133px;
  }
  #req_op_op,#req_op_tp,#req_op_firstobp,#req_op_wt{
    font-size: 25px;
  }
  #edit_op,#edit_tp,#edit_firstobp,#edit_wt{
    font-size: 20px;
    width: 200px;
    text-align: center;
  }
  input[cc]{
    width:200px;
    font-size: 20px;
  }
}

#edit_options_pos{
  padding:10px;
  border-radius: 5px;
  border:2px solid black;
  color: black;

  position: fixed;
  right:15px;
  top:-700px;
  width: 220px;
  span {
    font-size: 25px;
  }
  &.come_here {
    top:0;
  }
  #pos_op_op,#pos_op_tp,#pos_op_firstobp,#pos_op_wt{
    font-size: 25px;
  }
  #edit_op_pos,#edit_tp_pos,#edit_firstobp_pos,#edit_wt_pos{
    font-size: 20px;
    width: 200px;
    text-align: center;
  }
  input[cc]{
    width:200px;
    font-size: 20px;
  }

  label[for="queen"]{
    font-size: 22px;
  }
  #add_queen{
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}

#edit_options_trade {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  background: white;
  left:calc(100%/2);

  #edit_trade_name{
    font-size: 25px;
  }

  position: fixed;
  top: -700px;
  width: 700px;
  height:315px;
  span {
    font-size: 25px;
  }
  &.come_here {
    top: calc(100%/3);
  }
  input[cc]{
    width:200px;
    font-size: 20px;
  }
  .close_edit_options_trade{
    position: absolute;
    top:15px;
    right:15px;
    padding: 10px;
  }
  #edit_trade_tare{
    font-size: 20px;
  }
}

#button_add_giveaway,#button_add_payment{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 150px;
}
.close_add_g,
.close_add_p,.close_edit_1c_num,.close_edit_options, .close_edit_options_pos{
  position: absolute;
  top: 10px;
  right: 10px;
}

#add_payment, #add_giveaway, #edit_1c_num, #edit_options, #edit_options_pos{
  background-color: white;
  input{
    &:focus{
      background-color: lightblue;
    }
  }
}
.ga_byer_requests {
  display: none;
  table{
    text-align: center;
    th:nth-child(4),td:nth-child(4){text-align: left}
    th:nth-child(1){width: 10%}
    th:nth-child(2){width: 5%}
    th:nth-child(3){width: 5%}
    th:nth-child(4){width: 25%}
    th:nth-child(5){width: 10%}
    th:nth-child(6){width: 10%}
    th:nth-child(7){width: 20%}
  }
}

.byer_req_list{
  list-style: none;
  .collapse_ga_byer{
    width: 40px;
  }
  .ga_contents{
    td{
      text-align: center;
    }
  }
}
.not_ready {
  border: 2px solid red;
  background-color: pink;
}
.ready {
  border: 2px solid green;
  background-color: white;
}
.ok{background-color: green;color: white}
.not-ok{background-color: red;color: white}

.ga_requests_date_range {
  margin: 3vh 0;
  border-bottom: 1px solid black;
  padding-bottom: 3vh;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/*Список покупателей*///////////////////////////////////////////////////////////////////////////////////////////////////
.byers_list{
  table{
    text-align: center;
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#go_up{
  position: fixed;
  left: -5px;
  top: 0;
  color: green;
  z-index: 100;
  height: 100vh;
  font-size: 13px;
  width: 17px;
  padding: 0;
  &:hover{
    background-color: green;
    color: white;

  }
}

.current_pricing{
  color: green;
}
#button_history, #button_history_tzrkpok, #button_history_tzrknam{
  &.pushed{
    color: white;
    background: green;
  }
}

.history, .history_knam, .history_kpok{
  display: none;
  width: 60vw;
  td{
    text-align: center;
    font-size: 20px;
  }
  border: 1px solid black;
  border-top: none;
}

.history_knam, .history_kpok{
  th:nth-child(1){width: 10%}
  th:nth-child(2){width: 70%}
  th:nth-child(3){width: 10%}
  th:nth-child(4){width: 10%}
}


#fcount {
  border:1px solid black;
}

#search_reads{
  min-height:100vh;
  display: none;
}

.totals_list{
  table{
    font-size: 20px;
  }
}

.shrinken_totals{display: none}
.widen_totals{height: 70vh}
.byer_req_list_totals{//Это таблица
  tr {
    td:nth-child(2), td:nth-child(3), td:nth-child(4) {text-align: center}
  }
  .totals_byer_requests{
    display: none;
    padding-left: 2vw;
    li{list-style: none}
  }
}
.totals_requests_list{
  th{
    width:10vw;
  }
  th:nth-child(5){
    width:20vw;
  }
  td{
    text-align: center;
  }
}
.totals_g_list{
  display: none;
  table{
    tr:hover{
      color: white;
      background: green;
    }
  }
}
.vid_byer_requests{
  td{
    text-align: center;
  }
  tr:hover{
    background: green;
    color: white;
  }
}

/*Статус заказа в Р-1*/
#requests,#byers,#sellers,#trades,#givaways,#vidachi,#totals,#search{
  &,table{
    font-size: 21px;
  };
}
.green,.lightgreen,.yellow,.lightblue,.red {
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
  input{
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 16px;
  }
}

.w{
  background : white;
  color : black;
}
.x{
  background : red;
  color : white;
}

.green {background-color: green; color: white}
.lightgreen {background-color: lightgreen; color: black}
.yellow {background-color: yellow; color: black}
.lightblue {background-color: lightblue; color: blue}
.red {background-color: red; color: white}

.trades_list{
  table{
    width:50%;
  }
  th:nth-child(1){width: 30%}
  th:nth-child(2){width: 5%}
  th:nth-child(3){width: 5%}
  tr:hover{
    td{
      background: green;
      color: white;
    }
  }
}

@-webkit-keyframes flash {
  0%, 100%   { background: white; color: black; }
  50% { background: orange; color: white; }
}

@keyframes flashss {
  0%, 100%   { background: white;}
  50% { background: orange;}
}

.flash {
  -webkit-animation: flashss 2s;
  -moz-animation: flashss 2s;
  -o-animation: flashss 2s;
  animation: flashss 2s;
}


.payments_list table, .vidachi_list table{
  tbody tr:hover{
    background: green;
    color:white;
  }
  td{
    text-align: center;
    border: 1px solid black;
    font-size: 21px;
  }
}

#sync_info{
  ul, li {
    list-style: none;
  }
}

#sync_add_to_base{
  position: fixed;

  top:150px;
  right: 0;
  &.up{
    display: none;
  }
  .creates{
    display: block;
    width:25vw;
  }
}

