h2 {
    margin:0;
    padding:0;
    font-size: 3vh;
}
p {
    font-size: 3vh;
}

#cases p {
  font-size: 2vh;
}

#price label {
  font-size: 2vh;
  font-family: sans-serif;
}

#price h2 {
  font-size: 2vh;
  font-weight: normal;
  text-align: center;
}

#pr, #rent h1, #obpr {
  font-size: 3vh;
  font-family: sans-serif;
}

#clearp, #obtzrknam, #obtzrkpok, #firstobp, #margek, #rop, #rtp {
    color: red;
}

$pricecolor : #F0F0F0;

#pr_in, #rent_in{
  border: 3px solid green;
}

#rent{
  position: absolute;
  top: 11.7vh;
  right: 14.1vw;
  width: 12vw;
  border-radius: 3px;
  padding:5px;
  background: $pricecolor;
  height: 14vh;
  input{
    text-align: center;
  }
  #rent_in{
    font-size: 3vh;
    font-weight: bold;
    width: 12vw;
    background: $pricecolor;
  }
  h1{
    display: inline-block;
    height: 38px;
    text-align: center;
    width: 12vw;
    margin-top: 0;
    margin-bottom: 0;
  }

}

#result
{
  position: absolute;
  top: 11.7vh;
  left: 52vw;
  width: 20vw;
  border-radius: 3px;
  padding: 5px;
  background: $pricecolor;
  height: 14vh;
  #pr,#pr_in{
    width: 18vw;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
    background: $pricecolor;
    position: relative;
    left: 1vw;
  }
  #button_history{
    position: relative;
    left: 8.7vw;
  }
}

.active
{
    border: solid 5px white;
    font-size: 20px;
}

#fixate
{
    display: none;
    line-height: 5vh;
    font-size: 3vh;
    width: 15.3vw;
    font-weight: bold;

}


#rent
{
    clear: left;
}
#price {
    margin: 0;

}

.pricing_container {
    border: 3px solid lightgray;
}

#price input,
#save {
    font-size: 3vh;
    font-weight: bold;
}

#zak, #kol, #tzr, #tzrknam, #tzrkpok, #rop, #rtp, #op, #tp, #obp, #firstobp, #wtime {
  width: 10vw;
  text-align: center;
}


#op{
    border: 5px solid green;
}

#trade, #seller{
  position: absolute;
  left:13vw;
  width:72vw;
}
#zak, #kol{
  position: absolute;
  left: 20vw;
}
#tzrknam{}
#tzrkpok{}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




#obtzr, #obtzrknam, #obtzrkpok, #op+p, #tp+p, #obp+p, #marge, #margek, #obpr, #firstobp+p, #id, p#byer, p#seller, p#trade, #onhands, #cases p, #realop, #realtp, #firstoh, #realop, #realtp, #wtimeday, #clearp, #oh, #wtr, #clearpnar
{
    display: inline;    
}

#obnal, #margediv
{
    display: none;
    padding: 1vh;
}

/*#margediv
{
    border: solid 1px green;
}*/

#go {
    position: absolute;
    top: 10vh;
    right: 1vw;
    font-size: 3vh;
    font-weight: bold;
    width: 15vw;

}
#archive, #create {
    position: absolute;
    top: 1vh;
    right: 1vh;
    font-size: 4vh;
}

#cases {
    position: absolute;
    width: 25vw;
    height: 35vh;
    top: 63vh;
    right: 3vw;
    font-size: 3vh;
}

#spacer1,#spacer2,#spacer3,#spacer4,#spacer5,#spacer6{
  display: inline-block;
}
#spacer1{width: 4vw}
#spacer2{width: 2vw}
#spacer3{width: 12vw}
#spacer4{width: 9.5vw}
#spacer5{width: 15vw}
#spacer6{width: 14vw}

#cases input {
    font-size: 3vh;
}




/*!*ОФОРМЛЕНИ ТАБЛИЦЫ*!
#prlist{
    min-height: 100vh;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
}

td, th {
    text-align: center;
    padding: 2px;
}
!*Выделение при наведении*!
tbody tr:hover td, .hovered {
    background-color: white;
    color : black;
    border: 1px solid black;
}
tbody tr:hover td input.delete{
    background-color: red;
    color : white;
}
tbody tr:hover td input.edit{
    background-color: green;
    color : white;
}
tbody tr:hover td input.copy{
    background-color: skyblue;
    color : white;
}
tbody input{
    cursor : pointer;
}
tr td:first-child{
    width: 2vw;
}




th {
    background-color: green;
    color: white;
}*/

/*РАЗМЕР САМОГО ОКНА*/

#editp, #copyp {
    position: relative;
    height: 0vh;
    margin-top: 2vh;

}
/*Онформационное окошко*/
#msg {
    position: fixed;
    top: 85vh;
    height: 10vh;
    right:0;
    display:none;
    background: green;
    width: 15vw;
    border-radius: 5px;
    text-align: center;
}#msg p {

     background: green;
     color: white;
 }

 #editmsg p,#copymsg p, #hide{
     background-color: green;
 }
#editmsg, #copymsg, #hide{
     background-color: green;
 }

#hide{
    cursor: pointer;
    position: absolute;
    right: 0vw;
    top: 4vh;
    height: 4vh;
    font-size: 3vh;
    width: 12vh;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

.fixed{

}

.unfixed{

}

/*Вещи, специфические для add_request*/

#go_request{
    font-size: 10vh;
}


tr[id^="inside"]{
    display: none;
}

tr[id^="inside"] td:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}

tr[id^="inside"] td input{
    display: inline;
    vertical-align: top;
}

tr[id^="inside"] td {
    text-align: left;
}

#creating {
    display: none;
}

.savename {
    background-color: red;
    color: white;
}
